#m-gnb {
    position: fixed;
    top: 0; right: -100%;
    display: block;
    width: 480px; height: 100%;
    background: #3195ff;
    overflow: hidden;
    box-shadow: rgba(0,0,0,0);
    z-index: 99;
    transition: 0.2s all ease-in-out;
}

#header {
    position: absolute;
    top: 0;
    width: 100%; height: 100px;
    display: flex;
    flex-flow: column wrap;
    background: white;
    box-shadow: 0 10px 20px 0 rgba(150,150,150,0.4);
    overflow: hidden;
    z-index: 90;
    transition: all ease-in-out 0.2s;
}
#header.active {
    height: 350px;
}
#header .header-container {
    position: relative;
    width: 100%; height: 100px;
    margin: 0 auto; padding: 0 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#header #h-logo {
    position: relative;
    width: auto; height: 50px;
    color: #fff;
}
#header #h-logo img {
    position: relative;
    height: 100%;
}
#header #h-menu {
    position: relative;
    width: auto; height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
}
#header .h-menu-btn {
    position: relative;
    width: auto; height: 100%;
}
#header .h-menu-btn::after {
    content: '';
    position: absolute;
    width: 100%; height: 0px;
    left: 0; bottom: 0;
    background: #3195ff;
    transition: all ease-in-out 0.2s;
}
@media (hover: hover) and (pointer : fine) {
    #header .h-menu-btn:hover::after {
        height: 3px;
    }
}
#header .h-menu-btn>a {
    position: relative;
    width: auto; height: 100%;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: #333;
    font-size: 24px;
}
#header .h-depth-2 {
    position: relative;
    padding-top: 16px;
    display: flex;
    flex-flow: column wrap;
}
#header .h-d2-item {
    position: relative;
    width: 100%; height: auto;
}
#header .h-d2-item a {
    position: relative;
    display: block;
    width: 100%; height: auto;
    padding: 16px 0;
    text-align: center;
    font-size: 1.2rem;
    color: #333;
    font-weight: 400;
    transition: all ease-in-out 0.2s;
}
@media (hover: hover) and (pointer: fine) {
    #header .h-d2-item a:hover {
        color: #3195ff;
    }
}
#header #h-submenu {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 50px;
}
#header .h-submenu-btn {
    position: relative;
    width: 30px; height: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#header .h-submenu-btn:nth-child(2) {
    display: none;
}
.h-submenu-btn img {
    position: relative;
    width: 100%; height: auto;
}

/* 슬라이드 배너 영역 */
#banner {
    position: relative;
    margin-top: 100px;
    padding-bottom: 55%;
    width: 100%; height: 0;
    overflow: hidden;
}
/* 메인배너에 소속된 슬릭슬라이더 스타일시트 */
#banner .mainBanner {
    position: absolute;
    width: 100%; height: 100%;
    background: olive;
}

/* 메인배너 페이지 이동 버튼 설정 */
.mainBanner .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px; height: 100px;
    display: flex; flex-direction: row;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: transparent;
    outline: none;
    z-index: 85;
    cursor: pointer;
}
.mainBanner .slick-arrow.slick-prev {
    left: 0px;
    background-image: url(../source/img/icons/banner_prev.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}
.mainBanner .slick-arrow.slick-next {
    right: 0px;
    background-image: url(../source/img/icons/banner_next.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
}

/* 메인배너 페이지네이션 설정 */
.mainBanner .slick-dots {
    position: absolute;
    display: flex; flex-direction: row;
    grid-gap: 15px;
    bottom: 24px; left: 50%;
    transform: translateX(-50%);
}
.mainBanner .slick-dots li {
    position: relative;
    width: 15px; height: 15px;
    background: #aaa;
    border-radius: 100px;
    cursor: pointer;
}
.mainBanner .slick-dots .slick-active {
    background: #3195ff;
}
.mainBanner .slick-dots button {
    position: relative;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    opacity: 0;
}

.mainBanner .slick-list {
    position: relative;
    width: 100%; height: 100%;
}
.mainBanner .slick-track {
    position: relative;
    width: 100%; height: 100%;
}
#banner .mainBanner .slide-wrapper {
    position: relative;
    width: 100%; height: 100%;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
}
.slide-wrapper::after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 0;
}
.mainBanner .slide-wrapper:nth-child(2), .mainBanner .slide-wrapper:nth-child(5) {
    background-image: url(../source/img/main/banner01.jpg);
    background-position: center center;
    background-size: cover;
}
.mainBanner .slide-wrapper:nth-child(3) {
    background-image: url(../source/img/main/banner02.jpg);
    background-position: center center;
    background-size: cover;
}
.mainBanner .slide-wrapper:first-child, .mainBanner .slide-wrapper:nth-child(4) {
    background-image: url(../source/img/main/banner03.jpg);
    background-position: center center;
    background-size: cover;
}
#banner .mainBanner .slide-contents {
    position: relative;
    width: auto; height: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start;
    grid-gap: 2rem;
    grid-column: 3/11;
    z-index: 50;
}
#banner .slide-contents .slide-title {
    position: relative;
    width: auto; height: auto;
    font-size: 4rem;
    font-weight: 500;
    color: #fff;
}
#banner .slide-contents .slide-description {
    position: relative;
    width: auto; height: auto;
    font-size: 1.6rem;
    font-weight: 300;
    color: #fff;
    line-height: 1.4;
}
#banner .slide-contents .goNow {
    position: relative;
    display: block;
    width: auto; height: auto;
    padding: 1.2rem 1.4rem;
    color: #fff;
    line-height: 1;
    border: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.2s all ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
    #banner .goNow:hover {
        background: #3195ff;
        border: 1px solid #3195ff;
    }
}

/* 사업영역 스타일 */
#business {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
}
#business .business-container {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-gap: 48px;
}
#business .section-title-area {
    position: relative;
    width: auto; height: auto;
    padding-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
}
#business .section-title-area::after {
    content: '';
    position: absolute;
    left: 50%; bottom: 0;
    width: 350px; height: 2px;
    background: #333;
    transform: translateX(-50%);
}
#business .section-title-area .section-title {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}
#business .section-title-area .section-description {
    position: relative;
    font-size: 1.4rem;
    color: #333;
    text-align: center;
}
#business .business-contents {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-gap: 24px;
}
#business .business-item a {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
}
#business .business-item a::after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    background: linear-gradient(transparent, rgba(49,149,255,0.1), rgba(49,149,255,0.7));
    opacity: 0;
    transition: all ease-in-out 0.2s;
}
@media (hover: hover) and (pointer: fine) {
    #business .business-item:hover a::after {
        opacity: 1;
    }
}
#business .business-thumb {
    position: relative;
    width: auto; height: 0;
    padding-bottom: 140%;
    background-position: center center;
    background-size: cover;
}
#business .business-thumb.thumb01 {
    background-image: url(../source/img/main/business_archi.jpg);
}
#business .business-thumb.thumb02 {
    background-image: url(../source/img/main/business_house.jpg);
}
#business .business-thumb.thumb03 {
    background-image: url(../source/img/main/business_engineering.jpg);
}
#business .business-thumb.thumb04 {
    background-image: url(../source/img/main/business_park.jpg);
}
#business .business-details {
    position: absolute;
    width: 100%; height: 50%;
    padding: 0 24px 36px 24px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    grid-gap: 24px;
    z-index: 50;
}
#business .business-name {
    position: relative;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-shadow: #333 0px 2px 4px;
    color: #fff;
}
#business .business-description {
    position: relative;
    font-size: 1rem;
    line-height: 1.4;
    text-align: center;
    text-shadow: #333 0px 1px 2px;
    color: #fff;
}

/* 새소식 영역 스타일 */
#news {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
    background: #fafafa;
}
#news .news-container {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 48px;
    align-items: center;
}
#news .section-title-area {
    position: relative;
    width: auto; height: auto;
    padding-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    grid-gap: 24px;
}
#news .section-title-area::after {
    content: '';
    position: absolute;
    left: 50%; bottom: 0;
    width: 350px; height: 2px;
    background: #333;
    transform: translateX(-50%);
}
#news .section-title {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}
#news .section-description {
    font-size: 1.4rem;
    color: #333;
}
#news .news-contents {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 24px;
}
#news .news-item {
    position: relative;
    width: auto; height: auto;
}
#news .news-item:nth-child(1) {
    grid-column: 1/5;
}
#news .news-item:nth-child(2) {
    grid-column: 5/9;
}
#news .news-item:nth-child(3) {
    grid-column: 9/13;
}
#news .news-item a {
    position: relative;
    width: 100%; height: 100%;
    padding-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 16px;
    background: #fff;
}
#news .news-thumb {
    position: relative;
    width: 100%; height: 0;
    padding-bottom: 65%;
    background: #333;
    overflow: hidden;
}
#news .news-thumb img {
    position: absolute;
    left: 50%; top: 50%;
    width: auto; height: 110%;
    transform: translate(-50%, -50%) scale(100%);
    transition: all ease-in-out 0.2s;
}
@media (hover: hover) and (pointer: fine) {
    #news .news-item a:hover img {
        transform: translate(-50%, -50%) scale(110%);
    }
}
#news .news-title-area {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 0.4rem;
}
#news .news-title {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #333;
}
@media (hover: hover) and (pointer: fine) {
    #news .news-item a:hover .news-title {
        color: #3195ff;
    }
}
#news .news-description {
    position: relative;
    font-size: 1rem;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #999;
}
@media (hover: hover) and (pointer: fine) {
    #news .news-item a:hover .news-description {
        color: #3195ff;
    }
}
#news .news-date {
    position: relative;
    padding: 0 24px;
    font-size: 1rem;
    color: #333;
}
@media (hover: hover) and (pointer: fine) {
    #news .news-item a:hover .news-date {
        color: #3195ff;
    }
}
#news .section-more {
    position: relative;
    width: auto; height: auto;
    align-self: flex-end;
}
#news .section-more a {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}

/* 채용 영역 스타일 */
/* 영역 자체 스타일 */
#recruit {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
}
#recruit .recruit-container {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 48px;
}
#recruit .section-title-area {
    position: relative;
    width: auto; height: auto;
    padding-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
    text-align: center;
}
#recruit .section-title-area::after {
    content: '';
    position: absolute;
    left: 50%; bottom: 0px;
    width: 350px; height: 2px;
    background-color: #333;
    transform: translateX(-50%);
}
#recruit .section-title {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}
#recruit .section-description {
    position: relative;
    font-size: 1.4rem;
    color: #333;
}
#recruit .recruit-contents {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 24px;
}
#recruit .recruit-item {
    position: relative;
    width: auto; height: auto;
}
#recruit .recruit-item:nth-child(1) {
    grid-column: 1/4;
}
#recruit .recruit-item:nth-child(2) {
    grid-column: 4/7;
}
#recruit .recruit-item:nth-child(3) {
    grid-column: 7/10;
}
#recruit .recruit-item:nth-child(4) {
    grid-column: 10/13;
}
/*
#recruit .recruit-item a {
    position: relative;
    width: 100%; height: 100%;
    padding: 36px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 16px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
*/
#recruit .recruit-item a {
    position: relative;
    width: 100%; height: 100%;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 16px;
}
#recruit .recruit-thumbnail {
    position: relative;
    width: 100%; height: 0;
    padding-bottom: 120%;
    background: #ccc;
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
}
@media (hover: hover) and (pointer: fine) {
    #recruit .recruit-item a:hover .recruit-thumbnail {
        background-size: auto 110%;
    }
}
#recruit .recruit-item:nth-child(1) .recruit-thumbnail {
    background-image: url(../source/img/main/recruit01.jpg);
}
#recruit .recruit-item:nth-child(2) .recruit-thumbnail {
    background-image: url(../source/img/main/recruit02.jpg);
}
#recruit .recruit-item:nth-child(3) .recruit-thumbnail {
    background-image: url(../source/img/main/recruit03.jpg);
}
#recruit .recruit-item:nth-child(4) .recruit-thumbnail {
    background-image: url(../source/img/main/recruit04.jpg);
}
#recruit .recruit-types {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 16px;
}
#recruit .recruit-types > * {
    position: relative;
    width: auto; height: auto;
    padding: 8px 8px 7px 8px;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;
}
#recruit .recruit-types .type {
    border: 2px solid #51E739;
    color: #51E739;
}
#recruit .recruit-types .career {
    border: 2px solid #3195ff;
    color: #3195ff;
}
#recruit .recruit-details-wrap {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 0.4rem;
}
#recruit .recruit-title {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
@media (hover: hover) and (pointer: fine) {
    #recruit .recruit-item a:hover .recruit-title {
        color: #3195ff;
    }
}
#recruit .recruit-limit {
    position: relative;
    font-size: 1rem;
    line-height: 1.4;
    color: #999;
}
@media (hover: hover) and (pointer: fine) {
    #recruit .recruit-item a:hover .recruit-limit {
        color: #3195ff;
    }
}
#recruit .recruit-limit br {
    display: none;
}
#recruit .recruit-count {
    position: relative;
    font-size: 1rem;
    color: #333;
    font-weight: 400;
}
@media (hover: hover) and (pointer: fine) {
    #recruit .recruit-item a:hover .recruit-count {
        color: #3195ff;
    }
}
#recruit .section-more {
    position: relative;
    width: auto; height: auto;
    align-self: flex-end;
}
#recruit .section-more a {
    position: relative;
    width: auto; height: auto;
    font-weight: bold;
    font-size: 1.4rem;
    color: #333;
    text-decoration: underline;
}

/* CS & 소셜 영역 스타일 */
#custom {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
    background: #fafafa;
}
#custom .custom-container {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 48px;
}
#custom .section-title-area {
    position: relative;
    width: auto; height: auto;
    padding-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
    text-align: center;
}
#custom .section-title-area::after {
    content: '';
    position: absolute;
    left: 50%; bottom: 0;
    width: 350px; height: 2px;
    background: #333;
    transform: translateX(-50%);
}
#custom .section-title {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}
#custom .section-description {
    position: relative;
    font-size: 1.4rem;
    color: #333;
}
#custom .custom-contents {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 24px;
}
#custom .custom-cs {
    position: relative;
    width: auto; height: 500px;
    padding: 48px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 1/9;
    transition: all ease-in-out 0.2s;
    overflow: hidden;
}
#custom .custom-cs::after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background: rgba(0,0,0,0.4);
    z-index: 15;
}
#custom .custom-cs-background {
    position: absolute;
    width: 100%; height: auto;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%) scale(100%);
    z-index: 1;
}
#custom .custom-cs-details {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 50;
}
#custom .cs-title-area {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
    align-items: flex-start;
    z-index: 50;
}
#custom .cs-title {
    position: relative;
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
}
#custom .cs-description {
    position: relative;
    font-size: 1.4rem;
    color: #fff;
}
#custom .go-cs {
    position: relative;
    width: auto; height: auto;
    padding: 1rem 1.3rem;
    font-size: 1rem;
    color: #fff;
    box-sizing: border-box;
    border: 1px solid #fff;
    transition: 0.2s all ease-in-out;
    z-index: 50;
}
@media (hover: hover) and (pointer: fine) {
    #custom .go-cs:hover {
        border: 1px solid #3195ff;
        background: #3195ff;
    }
}
#custom .custom-social {
    position: relative;
    width: auto; height: auto;
    grid-column: 9/13;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 24px;
}
#custom .social-item {
    position: relative;
    width: auto; height: auto;
    padding: 24px;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 24px;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    box-shadow: rgba(0,0,0,0);
    transition: ease-in-out 0.2s all;
}
@media (hover: hover) and (pointer: fine) {
    #custom .social-item:hover {
        transform: translateY(-10px);
        box-shadow: rgba(50, 50, 93, 0.15) 0px 3px 6px -2px, rgba(0, 0, 0, 0.2) 0px 3px 6px -3px;
    }
}
#custom .social-item .social-icon {
    position: relative;
    width: auto; height: 100%;
    background-position: center center;
    background-size: 60% auto;
    background-repeat: no-repeat;
}
.social-item.youtube .social-icon {
    background-image: url(../source/img/icons/youtube.png);
    
}
.social-item.kakao .social-icon {
    background-image: url(../source/img/icons/kakao.png);
}
.social-item.instagram .social-icon {
    background-image: url(../source/img/icons/instagram.png);
}
.social-item.twitter .social-icon {
    background-image: url(../source/img/icons/twitter.png);
}
#custom .social-item .social-name {
    position: relative;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
}

/* 푸터 스타일 영역 */
#footer {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
}
#footer .footer-container {
    position: relative;
    width: auto; height: auto;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 48px;
}
#footer .footer-top {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    grid-gap: 48px;
}
#footer #footer-logo {
    position: relative;
    width: auto; height: auto;
}
#footer #footer-logo img {
    width: auto; height: 50px;
}
#footer .f-vertical {
    position: relative;
    width: 1px; height: 50px;
    background: #333;
}
#footer .footer-topMenu {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: row wrap;
}
#footer .footer-topMenu a {
    color: #666;
}
@media (hover: hover) and (pointer: fine) {
    #footer .footer-topMenu a:hover {
        color: #3195ff;
    }
}
#footer .footer-topMenu li:not(:last-child)::after {
    content: '|';
    padding: 0 16px;
    color: #666;
}
#footer .footer-topMenu .bolder {
    font-weight: bold;
    color: #333;
}

#footer .m-f-subpages {
    display: none;
}

#footer .footer-subpages {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-gap: 150px;
}
#footer .footer-depth {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-gap: 16px;
}
#footer .sub-title a{
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
}
#footer .sub-normal a {
    font-size: 1rem;
    color: #666;
}
@media (hover: hover) and (pointer: fine) {
    #footer .footer-depth a:hover {
        color: #3195ff;
    }
}
#footer .f-horizontal {
    position: relative;
    width: 100%; height: 1px;
    background: #aaa;
}
#footer .footer-socials {
    position: relative;
    width: auto; height: auto;
}
#footer .social-lists {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    grid-gap: 2rem;
}
#footer .social-lists .f-socialItem {
    position: relative;
    width: auto; height: auto;
}
#footer .f-socialItem a {
    position: relative;
    display: block;
    width: 32px; height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
.f-socialItem.youtube a {
    background-image: url(../source/img/icons/youtube.png);
}
.f-socialItem.kakao a {
    background-image: url(../source/img/icons/kakao.png);
}
.f-socialItem.instagram a {
    background-image: url(../source//img/icons/instagram.png);
}
.f-socialItem.twitter a {
    background-image: url(../source/img/icons/twitter.png);
}
#footer .footer-siteInfo {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-gap: 0.8rem;
}
#footer .f-infoLine {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: row wrap;
}
#footer .f-infoLine li {
    font-size: 0.8rem;
    color: #666;
}
#footer .f-infoLine li:not(:last-child)::after {
    content: '|';
    font-size: 0.8rem;
    padding: 0 0.8rem;
}
/* 푸터 스타일 영역 **/

/* 1025 ~ 1200px 해상도 반응형 **/
@media (max-width : 1200px) {
    /* 배너 섹션 **/
    #banner .slide-contents .slide-title {
        font-size: 3.5rem;
        font-weight: 400;
    }
    #banner .slide-contents .slide-description {
        font-size: 1.4rem;
    }
    #banner .slide-contents .goNow {
        padding: 1rem 1.3rem;
    }

    /* 사업영역 섹션 **/
    #business .section-title-area .section-title {
        font-size: 3.5rem;
    }
    #business .business-contents {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    #business .business-thumb {
        padding-bottom: 70%;
    }

    /* 새소식 섹션 **/
    #news .section-title {
        font-size: 3.5rem;
    }
    #news .news-title {
        font-size: 1.2rem;
    }
    #news .news-description {
        font-size: 0.8rem;
    }
    #news .news-date {
        font-size: 0.8rem;
    }
    #news .section-more a {
        font-size: 1.2rem;
    }

    /* 채용안내 섹션 **/
    #recruit .section-title {
        font-size: 3.5rem;
    }
    #recruit .recruit-title {
        font-size: 1.2rem;
    }
    #recruit .recruit-limit {
        font-size: 0.8rem;
    }
    #recruit .recruit-count {
        font-size: 0.8rem;
    }
    #recruit .recruit-types > * {
        padding: 6px;
        font-weight: 500;
    }
    #recruit .section-more a {
        font-size: 1.2rem;
    }

    /* cs 소셜 섹션 **/
    #custom .section-title {
        font-size: 3.5rem;
    }
    #custom .custom-cs {
        display: block;
        height: 0;
        padding: 0;
        padding-bottom: 60%;
        grid-column: 1/8;
    }
    #custom .cs-title-area {
        grid-gap: 16px;
    }
    #custom .custom-cs-details {
        position: absolute;
        bottom: 0;
        padding: 2rem;
        flex-flow: column wrap;
        justify-content: normal;
        align-items: flex-start;
        grid-gap: 16px;
    }
    #custom .cs-title {
        font-size: 2.5rem;
    }
    #custom .cs-description {
        font-size: 1.2rem;
        font-weight: 300;
    }
    #custom .custom-social {
        grid-column: 8/13;
    }
    #custom .social-item {
        padding: 20px;
    }
    #custom .social-item .social-icon {
        background-size: 85%;
    }
    #custom .social-item .social-name {
        font-size: 1.2rem;
    }
}

/* 769 ~ 1024px 해상도 반응형 **/
@media (max-width: 1024px) {
    /* 모바일 태블릿 GNB **/
    #m-gnb.active {
        right: 0;
        box-shadow: -4px 0 8px rgba(0, 0, 0, 0.3);
    }
    #m-gnb .m-gnb-container {
        position: relative;
        width: 100%; height: 100%;
        display: flex;
        flex-flow: column;
        overflow-y: scroll;
    }
    #m-gnb .m-gnb-close {
        position: relative;
        width: 100%; height: auto;
        padding: 24px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
    }
    #m-gnb .m-gnb-close img {
        position: relative;
        width: 30px; height: 30px;
        cursor: pointer;
    }
    #m-gnb .m-gnb-d1 {
        position: relative;
        width: 100%; height: auto;
        display: flex;
        flex-flow: column wrap;
    }
    #m-gnb .m-d1-item {
        position: relative;
        width: 100%; height: fit-content;
    }
    #m-gnb .m-d1-item .m-gnb-category {
        position: relative;
        display: flex;
        width: 100%; height: auto;
        padding: 1rem 2rem;
        flex-flow: row wrap;
        align-items: center;
        grid-gap: 16px;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        cursor: pointer;
    }
    #m-gnb .m-d1-item .m-gnb-category img {
        position: relative;
        width: auto; height: 20px;
        overflow: hidden;
        transform: rotate(90deg);
        transition: 0.2s all ease-in-out;
    }
    #m-gnb .m-d1-item.active .m-gnb-category img {
        transform: rotate(0deg);
    }
    #m-gnb .m-gnb-d2 {
        position: relative;
        width: 100%; height: auto;
        max-height: 0px;
        display: flex;
        flex-flow: column;
        overflow: hidden;
        transition: 0.2s all ease-in-out;
    }
    #m-gnb .m-d1-item.active .m-gnb-d2 {
        max-height: 180px;
    }
    #m-gnb .m-d2-item {
        position: relative;
        width: 100%; height: auto;
        display: flex;
        flex-flow: row wrap;
    }
    #m-gnb .m-d2-item a {
        position: relative;
        width: 100%; height: auto;
        padding: 0.8rem 3rem;
        display: flex;
        flex-flow: row wrap;
        font-size: 1.2rem;
        font-weight: 400;
        color: #f0f0f0;
    }

    /* 헤더 섹션 **/
    #header {
        position: fixed;
        height: 85px;
    }
    #header.hidden {
        top: -85px;
        box-shadow: none;
    }
    #header .header-container {
        height: 100%;
    }
    #header #h-logo {
        height: 60%;
    }
    #header #h-menu {
        display: none;
    }
    #header #h-submenu {
        grid-gap: 30px;
    }
    #header .h-submenu-btn:nth-child(2) {
        display: flex;
    }

    /* 배너 섹션 **/
    #banner {
        margin-top: 85px;
    }
    #banner .mainBanner .slide-contents {
        grid-column: 2/12;
    }
    #banner .slide-contents .slide-title {
        font-size: 3rem;
    }
    #banner .slide-contents .slide-description {
        font-size: 1.2rem;
    }
    #banner .slide-contents .goNow {
        font-size: 0.8rem;
        background: #3195ff;
        border: 1px solid #3195ff;
    }
    .mainBanner .slick-arrow {
        display: none !important;
    }

    /* 사업영역 섹션 **/
    #business .business-item a::after {
        background: rgba(0, 0, 0, 0.2);
        opacity: 1;
    }
    #business .business-details {
        height: 100%;
        padding: 1rem;
        grid-gap: 16px;
    }
    #business .business-name {
        font-size: 1.4rem;
    }
    #business .business-description {
        font-size: 0.8rem;
    }

    /* 새소식 섹션 **/
    #news .news-thumb {
        padding-bottom: 100%;
    }
    #news .news-item a {
        padding-bottom: 1rem;
    }
    #news .news-title-area {
        padding: 0 1rem;
    }
    #news .news-title {
        font-size: 1rem;
    }

    /* 채용안내 섹션 **/
    #recruit .recruit-types > * {
        font-size: 0.6rem;
    }
    #recruit .recruit-title {
        font-size: 1rem;
    }

    /* 고객센터 섹션 **/
    #custom .custom-contents {
        display: flex;
        flex-flow: column;
    }
    #custom .section-title-area::after {
        width: 280px;
    }
    #custom .section-title {
        font-weight: 500;
    }
    #custom .go-cs {
        border: 1px solid #3195ff;
        background: #3195ff;
    }
    #custom .custom-social {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    #custom .social-item {
        height: 100px;
    }
    #custom .social-item:hover {
        transform: none;
        box-shadow: none;
    }
    #custom .social-item .social-icon {
        background-size: 60%;
    }

    /* 푸터 섹션 **/
    #footer .footer-subpages {
        display: none;
    }
    #footer .m-f-subpages {
        position: relative;
        display: block;
        width: 100%; height: auto;
    }
    #footer .m-f-subpages-btn {
        position: relative;
        width: 100%; height: auto;
    }
    #footer .m-f-open {
        position: relative;
        width: 100%; height: auto;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
        background: #3195ff;
        z-index: 10;
    }
    #footer .m-f-open.hidden {
        display: none;
    }
    #footer .m-f-close {
        position: relative;
        width: 100%; height: auto;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
        background: #3195ff;
        z-index: 1;
    }
    #footer .m-f-close.hidden {
        display: none;
    }
    #footer .m-f-wrap {
        position: relative;
        width: 100%; height: auto;
        display: flex;
        flex-direction: column;
        background: #fafafa;
        max-height: 0px;
        overflow: hidden;
        transition: 0.2s all ease-in-out;
    }
    #footer .m-f-wrap.open {
        max-height: 885px;
    }
    #footer .m-f-depth1 {
        position: relative;
        width: 100%; height: auto;
        display: flex; flex-direction: column;
    }
    #footer .m-f-sub-title {
        position: relative;
        width: 100%; height: auto;
        padding: 1.2rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: #3195ff;
    }
    #footer .m-f-sub-page {
        position: relative;
        width: 100%; height: auto;
    }
    #footer .m-f-sub-page>a {
        position: relative;
        display: block;
        width: 100%; height: auto;
        padding: 1.2rem 3rem;
        font-size: 0.8rem;
        font-weight: 400;
        color: #3195ff;
    }
}

/* 해상도 601 ~ 768px에 대응하는 css */
@media (max-width: 768px) {
    /* 헤더 섹션 **/
    #header {
        height: 70px;
    }
    #header .header-container {
        padding: 0 1rem;
    }
    #header .h-submenu-btn {
        width: 24px;
        height: 24px;
    }

    /* 배너섹션 **/
    #banner {
        padding-bottom: 80%;
        margin-top: 70px;
    }
    #banner .mainBanner .slide-wrapper {
        padding: 0 1rem;
        grid-gap: 1rem;
    }
    #banner .slide-contents .slide-title {
        font-size: 2.4rem;
    }
    #banner .slide-contents .slide-description {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .mainBanner .slick-dots {
        bottom: 1rem;
        grid-gap: 0.8rem;
    }
    .mainBanner .slick-dots li {
        width: 0.8rem;
        height: 0.8rem;
    }

    /* 사업영역 섹션 **/
    #business {
        padding: 100px 0;
    }
    #business .business-container {
        padding: 0 1rem;
    }
    #business .section-title-area .section-title {
        font-size: 3rem;
    }
    #business .section-title-area .section-description {
        font-size: 1.2rem;
    }
    #business .business-container {
        grid-gap: 32px;
    }
    #business .business-contents {
        grid-gap: 1rem;
    }
    #business .business-thumb {
        padding-bottom: 100%;
    }

    /* 새소식 섹션 **/
    #news {
        padding: 100px 0;
    }
    #news .news-container {
        padding: 0 1rem;
        grid-gap: 2rem;
    }
    #news .section-title {
        font-size: 3rem;
    }
    #news .section-description {
        font-size: 1.2rem;
    }
    #news .news-contents {
        grid-gap: 1rem;
    }

    /* 채용안내 섹션 **/
    #recruit {
        padding: 100px 0;
    }
    #recruit .recruit-container {
        padding: 0 1rem;
        grid-gap: 2rem;
    }
    #recruit .section-title {
        font-size: 3rem;
    }
    #recruit .section-description {
        font-size: 1.2rem;
    }
    #recruit .recruit-contents {
        grid-gap: 1rem;
    }
    #recruit .recruit-item a {
        grid-gap: 0.8rem;
    }
    #recruit .recruit-item:nth-child(1) {
        grid-column: 1/5;
    }
    #recruit .recruit-item:nth-child(2) {
        grid-column: 5/9;
    }
    #recruit .recruit-item:nth-child(3) {
        grid-column: 9/13;
    }
    #recruit .recruit-item:nth-child(4) {
        display: none;
    }

    /* 고객센터 섹션 **/
    #custom {
        padding: 100px 0;
    }
    #custom .custom-container {
        padding: 0 1rem;
    }
    #custom .section-title {
        font-size: 3rem;
    }
    #custom .section-description {
        font-size: 1.2rem;
    }
    #custom .custom-contents {
        grid-gap: 1rem;
    }
    #custom .custom-social {
        grid-gap: 1rem;
    }
    #custom .social-item {
        height: 80px;
        padding: 1rem;
    }
    #custom .social-item .social-name {
        font-size: 1rem;
    }

    /* 푸터 섹션 **/
    #footer {
        padding: 100px 0;
    }
    #footer .footer-container {
        padding: 0 1rem;
        grid-gap: 2rem;
    }
    #footer .footer-top {
        flex-flow: column;
        grid-gap: 2rem;
    }
    #footer .f-vertical {
        display: none;
    }
    #footer .f-infoLine {
        flex-flow: column;
        align-items: center;
        grid-gap: 0.8rem;
    }
    #footer .f-infoLine li:not(:last-child)::after {
        display: none;
    }
}

/* 해상도 480 ~ 600px 대응 반응형 스타일 **/
@media (max-width: 600px) {
    /* 배너 섹션 **/
    #banner {
        padding-bottom: 120%;
    }
    #banner .slide-contents .slide-title {
        font-size: 2rem;
    }
    #banner .slide-contents .goNow {
        padding: 0.8rem 1rem;
    }

    /* 사업영역 섹션 **/
    #business .section-title-area::after {
        width: 280px;
    }
    #business .section-title-area .section-title {
        font-weight: 500;
    }
    #business .business-thumb {
        padding-bottom: 120%;
    }

    /* 새소식 섹션 **/
    #news .section-title-area::after {
        width: 280px;
    }
    #news .section-title {
        font-weight: 500;
    }
    #news .news-contents {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }

    #news .news-item:nth-child(1) {grid-column: auto;}
    #news .news-item:nth-child(2) {grid-column: auto;}
    #news .news-item:nth-child(3) {grid-column: auto;}

    #news .news-thumb {
        padding-bottom: 60%;
    }
    #news .news-thumb img {
        width: 115%; height: auto;
    }

    /* 채용안내 섹션 **/
    #recruit .section-title-area::after {
        width: 280px;
    }
    #recruit .section-title {
        font-weight: 500;
    }
    #recruit .recruit-item:nth-child(3) {
        display: none;
    }
    #recruit .recruit-item:nth-child(1) {
        grid-column: 1/7;
    }
    #recruit .recruit-item:nth-child(2) {
        grid-column: 7/13;
    }

    /* 고객센터 섹션 **/
    #custom .cs-title {
        font-size: 2rem;
    }
    #custom .cs-description {
        font-size: 1rem;
    }
    #custom .go-cs {
        padding: 0.8rem 1rem;
        font-size: 0.8rem;
    }
    #custom .custom-social {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
    }
    #custom .social-item {
        height: auto;
    }
    #custom .social-item .social-icon {
        width: 100%;
        background-size: 50%;
    }
    #custom .social-item .social-name {
        display: none;
    }
}

/* 해상도 321 ~ 480px에 대응하는 스타일 **/
@media (max-width: 480px) {
    /* 모바일 헤더 섹션 **/
    #m-gnb {
        width: 100%;
    }

    /* 헤더 섹션 **/
    #header {
        height: 60px;
    }

    /* 배너 섹션 **/
    #banner  {
        margin-top: 60px;
        padding-bottom: 140%;
    }
    #banner .mainBanner .slide-contents {
        grid-column: 1/13;
    }
    #banner .slide-contents .slide-title {
        font-size: 1.4rem;
    }
    #banner .slide-contents .slide-description {
        font-size: 1rem;
    }

    /* 사업영역 섹션 **/
    #business .business-container {
        grid-gap: 1rem;
    }
    #business .section-title-area {
        padding-bottom: 1rem;
        grid-gap: 1rem;
    }
    #business .section-title-area::after {
        width: 250px;
    }
    #business .section-title-area .section-title {
        font-size: 2.5rem;
    }
    #business .section-title-area .section-description {
        font-size: 1rem;
    }
    #business .business-contents {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    #business .business-thumb {
        padding-bottom: 100%;
    }

    /* 새소식 섹션 **/
    #news .news-container {
        grid-gap: 1rem;
    }
    #news .section-title-area {
        padding-bottom: 1rem;
        grid-gap: 1rem;
    }
    #news .section-title-area::after {
        width: 250px;
    }
    #news .section-title {
        font-size: 2.5rem;
    }
    #news .section-description {
        font-size: 1rem;
    }

    /* 인재채용 섹션 **/
    #recruit .recruit-container {
        grid-gap: 1rem;
    }
    #recruit .section-title-area {
        padding-bottom: 1rem;
        grid-gap: 1rem;
    }
    #recruit .section-title-area::after {
        width: 250px;
    }
    #recruit .section-title {
        font-size: 2.5rem;
    }
    #recruit .section-description {
        font-size: 1rem;
    }

    /* cs 섹션 **/
    #custom .custom-container {
        grid-gap: 1rem;
    }
    #custom .section-title-area {
        padding-bottom: 1rem;
        grid-gap: 1rem;
    }
    #custom .section-title-area::after {
        width: 250px;
    }
    #custom .section-title {
        font-size: 2.5rem;
    }
    #custom .section-description {
        font-size: 1rem;
    }
    #custom .custom-cs {
        padding-bottom: 80%;
    }
    #custom .custom-cs-background {
        width: auto; height: 100%;
    }
    #custom .custom-cs-details {
        height: 100%;
        padding: 1rem;
        justify-content: flex-end;
    }
    #custom .cs-title {
        font-size: 1.2rem;
    }
    #custom .cs-description {
        font-size: 0.8rem;
    }
    #custom .social-item .social-icon {
        background-size: 80%;
    }

    /* 푸터 섹션 **/
    #footer .footer-container {
        grid-gap: 1.5rem;
    }
    #footer .footer-top {
        grid-gap: 1.5rem;
    }
    #footer #footer-logo img {
        height: 35px;
    }
    #footer .footer-topMenu a {
        font-size: 0.8rem;
    }
    #footer .footer-topMenu {
        width: 100%;
        justify-content: space-between;
    }
    #footer .footer-topMenu li:not(:last-child)::after {
        display: none;
    }
    #footer .f-infoLine li {
        font-size: 0.5rem;
    }
}

@media (max-width: 320px) {
    /* 헤더 섹션 **/
    #header .header-container {
        padding: 0 0.8rem
    }
    #header #h-submenu {
        grid-gap: 1.2em;
    }

    /* 배너 섹션 **/
    #banner .mainBanner .slide-wrapper {
        padding: 0 0.8rem;
    }
    #banner .mainBanner .slide-contents {
        grid-gap: 1.4rem;
    }

    /* 사업영역 섹션 **/
    #business {
        padding: 80px 0;
    }
    #business .business-container {
        padding: 0 0.8rem;
    }
    #business .business-contents {
        grid-gap: 0.8rem;
    }

    /* 새소식 섹션 **/
    #news {
        padding: 80px 0;
    }
    #news .news-container {
        padding: 0 0.8rem;
    }
    #news .news-contents {
        grid-gap: 0.8rem;
    }
    #news .news-item a {
        padding-bottom: 0.8rem;
        grid-gap: 0.8rem;
    }

    /* 인재채용 섹션 **/
    #recruit {
        padding: 80px 0;
    }
    #recruit .recruit-container {
        padding: 0 0.8rem;
    }
    #recruit .recruit-item:nth-child(1) {
        grid-column: 1/13;
    }
    #recruit .recruit-item:nth-child(2) {
        display: none;
    }

    /* cs 섹션 **/
    #custom {
        padding: 80px 0;
    }
    #custom .custom-container {
        padding: 0 0.8rem;
        grid-gap: 0.8rem;
    }
    #custom .custom-contents {
        grid-gap: 0.8rem;
    }
    #custom .custom-social {
        grid-gap: 0.8rem;
    }

    /* 푸터 섹션 **/
    #footer {
        padding: 80px 0;
    }
    #footer .footer-container {
        padding: 0 0.8rem;
    }
}