#header {
    position: relative;
    width: 100%; height: 100px;
    display: flex;
    flex-flow: column wrap;
    background: white;
    box-shadow: 0 10px 20px 0 rgba(150,150,150,0.4);
    overflow: hidden;
    z-index: 99;
}
#header .header-container {
    position: relative;
    width: 100%; height: 100%;
    margin: 0 auto; padding: 0 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
#header #h-logo {
    position: relative;
    width: 100px; height: 50px;
    background: #333;
    color: #fff;
}
#header #h-menu {
    position: relative;
    width: auto; height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
}
#header .h-menu-btn {
    position: relative;
    width: auto; height: 100%;
}
#header .h-menu-btn a {
    position: relative;
    width: auto; height: 100%;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: #333;
    font-size: 24px;
}
#header .h-menu-btn a:hover {
    background: #3195ff;
    color: #fff;
    font-weight: 600;
}
#header #h-submenu {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 50px;
}
#header .h-submenu-btn {
    position: relative;
    width: auto; height: auto;
}
#header .h-submenu-btn a {
    position: relative;
    width: 50px; height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center; align-items: center;
    background: #333;
    color: #fff;
}

/* 슬라이드 배너 영역 */
#banner {
    position: relative;
    width: 100%; height: 800px;
}
/* 메인배너에 소속된 슬릭슬라이더 스타일시트 */
#banner .mainBanner {
    position: relative;
    width: 100%; height: 100%;
    background: olive;
}

/* 메인배너 페이지 이동 버튼 설정 */
.mainBanner .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px; height: 60px;
    display: flex; flex-direction: row;
    background: transparent;
    border: 2px solid #3195ff;
    color: transparent;
    outline: none;
    border-radius: 1000px;
    z-index: 99;
}
.mainBanner .slick-arrow.slick-prev {
    left: 24px;
}
.mainBanner .slick-arrow.slick-next {
    right: 24px;
}

/* 메인배너 페이지네이션 설정 */
.mainBanner .slick-dots {
    position: absolute;
    display: flex; flex-direction: row;
    grid-gap: 15px;
    bottom: 24px; left: 50%;
    transform: translateX(-50%);
}
.mainBanner .slick-dots li {
    position: relative;
    width: 15px; height: 15px;
    background: #aaa;
    border-radius: 100px;
    cursor: pointer;
}
.mainBanner .slick-dots .slick-active {
    background: #3195ff;
}
.mainBanner .slick-dots button {
    position: relative;
    width: 100%; height: 100%;
    margin: 0; padding: 0;
    opacity: 0;
}

.mainBanner .slick-list {
    position: relative;
    width: 100%; height: 100%;
}
.mainBanner .slick-track {
    position: relative;
    width: 100%; height: 100%;
}
#banner .mainBanner .slide-wrapper {
    position: relative;
    width: 100%; height: 100%;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
}
.mainBanner .slide-wrapper:nth-child(2), .mainBanner .slide-wrapper:nth-child(5) {
    background: orange;
}
.mainBanner .slide-wrapper:nth-child(3) {
    background: tomato;
}
.mainBanner .slide-wrapper:first-child, .mainBanner .slide-wrapper:nth-child(4) {
    background: skyblue;
}
#banner .mainBanner .slide-contents {
    position: relative;
    width: auto; height: 100%;
    display: flex; flex-direction: column;
    justify-content: center; align-items: flex-start;
    grid-gap: 2rem;
    grid-column: 3/11;
}
#banner .slide-contents .slide-title {
    position: relative;
    width: auto; height: auto;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}
#banner .slide-contents .slide-description {
    position: relative;
    width: auto; height: auto;
    font-size: 2rem;
    color: #333;
    line-height: 1.2;
}
#banner .slide-contents .goNow {
    position: relative;
    display: block;
    width: auto; height: auto;
    padding: 1rem 1.4rem;
    background: #3195ff;
    color: #fff;
    border-radius: 100px;
    line-height: 1;
}

/* 사업영역 스타일 */
#business {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
}
#business .business-container {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    grid-gap: 48px;
}
#business .section-title-area {
    position: relative;
    width: auto; height: auto;
    padding-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
}
#business .section-title-area::after {
    content: '';
    position: absolute;
    left: 50%; bottom: 0;
    width: 350px; height: 2px;
    background: #333;
    transform: translateX(-50%);
}
#business .section-title-area .section-title {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    text-align: center;
}
#business .section-title-area .section-description {
    position: relative;
    font-size: 1.4rem;
    color: #333;
    text-align: center;
}
#business .business-contents {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 24px;
}
#business .business-item a {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
}
#business .business-thumb {
    position: relative;
    width: auto;
    background: #333;
}
#business .business-name {
    position: relative;
    font-size: 1.8rem;
    color: #333;
}
#business .business-description {
    position: relative;
    font-size: 1rem;
    color: #666;
}

/* 새소식 영역 스타일 */
#news {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
    background: #fafafa;
}
#news .news-container {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 48px;
    align-items: center;
}
#news .section-title-area {
    position: relative;
    width: auto; height: auto;
    padding-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    grid-gap: 24px;
}
#news .section-title-area::after {
    content: '';
    position: absolute;
    left: 50%; bottom: 0;
    width: 350px; height: 2px;
    background: #333;
    transform: translateX(-50%);
}
#news .section-title {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}
#news .section-description {
    font-size: 1.4rem;
    color: #333;
}
#news .news-contents {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 24px;
}
#news .news-item {
    position: relative;
    width: auto; height: auto;
}
#news .news-item:nth-child(1) {
    grid-column: 1/5;
}
#news .news-item:nth-child(2) {
    grid-column: 5/9;
}
#news .news-item:nth-child(3) {
    grid-column: 9/13;
}
#news .news-item a {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
}
#news .news-thumb {
    position: relative;
    width: 100%; height: 0;
    padding-bottom: 65%;
    background: #333;
}
#news .news-title-area {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 12px;
}
#news .news-title {
    position: relative;
    font-size: 1.8rem;
    color: #333;
}
#news .news-description {
    position: relative;
    font-size: 1rem;
    color: #666;
}
#news .news-date {
    position: relative;
    font-size: 1rem;
    color: #333;
}
#news .section-more {
    position: relative;
    width: auto; height: auto;
    align-self: flex-end;
}
#news .section-more a {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    text-decoration: underline;
}

/* 채용 영역 스타일 */
/* 영역 자체 스타일 */
#recruit {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
}
#recruit .recruit-container {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 48px;
}
#recruit .section-title-area {
    position: relative;
    width: auto; height: auto;
    padding-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
    text-align: center;
}
#recruit .section-title-area::after {
    content: '';
    position: absolute;
    left: 50%; bottom: 0px;
    width: 350px; height: 2px;
    background-color: #333;
    transform: translateX(-50%);
}
#recruit .section-title {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}
#recruit .section-description {
    position: relative;
    font-size: 1.4rem;
    color: #333;
}
#recruit .recruit-contents {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 24px;
}
#recruit .recruit-item {
    position: relative;
    width: auto; height: auto;
}
#recruit .recruit-item:nth-child(1) {
    grid-column: 1/5;
}
#recruit .recruit-item:nth-child(2) {
    grid-column: 5/9;
}
#recruit .recruit-item:nth-child(3) {
    grid-column: 9/13;
}
#recruit .recruit-item a {
    position: relative;
    width: 100%; height: 100%;
    padding: 36px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
    border-radius: 10px;
    /*box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;*/
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#recruit .recruit-types {
    position: relative;
    width: auto; height: audo;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 24px;
}
#recruit .recruit-types > * {
    position: relative;
    width: auto; height: auto;
    padding: 8px 8px 7px 8px;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;
}
#recruit .recruit-types .type {
    border: 2px solid #51E739;
    color: #51E739;
}
#recruit .recruit-types .career {
    border: 2px solid #3195ff;
    color: #3195ff;
}
#recruit .recruit-title {
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
}
#recruit .recruit-limit {
    position: relative;
    font-size: 1rem;
    color: #666;
}
#recruit .recruit-count {
    position: relative;
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}
#recruit .section-more {
    position: relative;
    width: auto; height: auto;
    align-self: flex-end;
}
#recruit .section-more a {
    position: relative;
    width: auto; height: auto;
    font-weight: bold;
    font-size: 1.4rem;
    color: #333;
    text-decoration: underline;
}

/* CS & 소셜 영역 스타일 */
#custom {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
    background: #fafafa;
}
#custom .custom-container {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 48px;
}
#custom .section-title-area {
    position: relative;
    width: auto; height: auto;
    padding-bottom: 24px;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
    text-align: center;
}
#custom .section-title-area::after {
    content: '';
    position: absolute;
    left: 50%; bottom: 0;
    width: 350px; height: 2px;
    background: #333;
    transform: translateX(-50%);
}
#custom .section-title {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}
#custom .section-description {
    position: relative;
    font-size: 1.4rem;
    color: #333;
}
#custom .custom-contents {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 24px;
}
#custom .custom-cs {
    position: relative;
    width: auto; height: 500px;
    padding: 48px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 1/9;
    background: #fff;
}
#custom .cs-title-area {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 24px;
    align-items: flex-start;
}
#custom .cs-title {
    position: relative;
    font-size: 4rem;
    font-weight: bold;
    color: #333;
}
#custom .cs-description {
    position: relative;
    font-size: 1.4rem;
    color: #333;
}
#custom .go-cs {
    position: relative;
    width: auto; height: auto;
    padding: 16px;
    font-size: 1.2rem;
    color: #fff;
    background: #333;
}
#custom .custom-social {
    position: relative;
    width: auto; height: auto;
    grid-column: 9/13;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 24px;
}
#custom .social-item {
    position: relative;
    width: auto; height: auto;
    padding: 24px;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 24px;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    box-shadow: rgba(0,0,0,0);
    transition: ease-in-out 0.2s all;
}
#custom .social-item:hover {
    transform: translateY(-10px);
    box-shadow: rgba(50, 50, 93, 0.15) 0px 3px 6px -2px, rgba(0, 0, 0, 0.2) 0px 3px 6px -3px;
}
#custom .social-item .social-icon {
    position: relative;
    width: auto; height: 100%;
    background: #333;
}
#custom .social-item .social-name {
    position: relative;
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
}

/* 푸터 스타일 영역 */
#footer {
    position: relative;
    width: 100%; height: auto;
    padding: 150px 0;
}
#footer .footer-container {
    position: relative;
    width: auto; height: auto;
    padding: 0 24px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    grid-gap: 48px;
}
#footer .footer-top {
    position: relative;
    width: 100%; height: 50px;
    display: flex;
    flex-flow: row wrap;
    grid-gap: 48px;
}
#footer #footer-icon {
    position: relative;
    width: 100px; height: 100%;
    background: #333;
}
#footer .devine-vertical {
    position: relative;
    width: 2px; height: 100%;
    background: #666;
}
#footer .footer-menu {
    position: relative;
    width: auto; height: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
#footer .footer-menu li {
    position: relative;
}
#footer .footer-menu li:not(:last-child)::after {
    content: '|';
    position: relative;
    margin: 0 1.4rem;
    color: #666;
}
#footer .footer-menu li.bold {
    font-weight: bold;
}
#footer .footer-menu a {
    color: #666;
}
#footer .footer-menu li.bold a {
    color: #333;
}

#footer .footer-bottom {
    position: relative;
    width: auto; height: auto;
}
#footer .footer-information {
    position: relative;
    width: auto; height: auto;
    display: flex; flex-flow: column wrap;
    grid-gap: 16px;
    color: #666;
}
#footer .footer-information .footer-info {
    position: relative;
    display: flex; flex-flow: row wrap;
}
#footer .footer-information .footer-info:not(:last-child) li:not(:last-child)::after {
    content: '|';
    font-size: 1;
    padding: 0 8px;
    font-weight: bold;
}
/* 푸터 스타일 영역 **/