:root {
    --primary-color-02: #66B0FF;
    --primary-color-03: #99CBFF;
}

.subpage {
    position: relative;
    width: 100%; height: auto;
    margin-top: var(--header-height-normal);
    z-index: 89;
}
.subpage .subpage-container {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
}
.subpage .subpage-top {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
}
.subpage .subpage-title {
    position: relative;
    width: 100%; height: 400px;
    padding: var(--grid-padding-normal);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--gap-normal);
    align-items: center;
    background: lime;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#ceo .subpage-title {
    background-image: url(../source/img/sub01/sub01_top_banner.jpg);
}
.subpage .subpage-title::after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    background: var(--dark-overlayer);
    z-index: 0;
}
.subpage .subpage-title-wrap {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-direction: column;
    grid-gap: var(--gap-normal);
    grid-column: 3/11;
    z-index: 50;
}
.subpage .subpage-title-wrap h3 {
    line-height: var(--line-height-common);
    font-size: var(--section-title-normal);
    font-weight: var(--section-title-weight-1);
    color: #fff;
    text-shadow: var(--text-shadow);
}
.subpage .subpage-title-wrap h6 {
    line-height: var(--line-height-common);
    font-size: var(--section-desc-normal);
    color: #fafafa;
    text-shadow: var(--text-shadow);
}

.subpage .subpage-top-nav {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding-normal);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--gap-normal);
    background: var(--sub-text-2);
}
.subpage .subpage-nav-list {
    position: relative;
    width: auto; height: auto;
    grid-column: 2/12;
    display: flex;
    flex-direction: row;
}
.subpage .subpage-nav-item {
    position: relative;
    width: 150px; height: auto;
}
.subpage .subpage-nav-item.home {
    background: var(--primary-color-03);
}
.subpage .subpage-nav-item.home a {
    position: relative;
    width: 100%; height: auto;
    padding: 1.2rem 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
}
.subpage .subpage-nav-item.home img {
    position: relative;
    width: auto; height: 1rem;
    filter: drop-shadow(0 1px 4px rgba(0,74,153,0.5));
}
.subpage .subpage-nav-item.category {
    background: var(--primary-color-02);
}
.subpage .subpage-nav-item.page {
    background: var(--primary-color);
}
.subpage .current-category, .subpage .current-page {
    position: relative;
    width: 100%; height: auto;
    padding: 1.2rem 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    grid-gap: 1rem;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,74,153,0.5);
    cursor: pointer;
}
.subpage .nav-expand-triangle {
    position: relative;
    width: auto; height: 0.5rem;
    transition: 0.2s all ease-in-out;
}
.subpage .subpage-nav-item.active .nav-expand-triangle {
    transform: rotate(180deg);
}
.subpage .subpage-nav-depth2 {
    position: absolute;
    top: 100%;
    width: 100%; height: auto;
    max-height: 0px;
    display: flex; flex-direction: column;
    background: #fafafa;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
}
.subpage .subpage-nav-item.active .subpage-nav-depth2 {
    max-height: 220px;
}
.subpage .subpage-nav-d2-item {
    position: relative;
    width: 100%; height: auto;
}
.subpage .subpage-nav-d2-item a {
    position: relative;
    width: 100%; height: auto;
    padding: 1.2rem 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    font-size: 1rem;
    color: var(--primary-color);
    line-height: 1;
}
.subpage .all-category .subpage-nav-d2-item a:hover {
    background: var(--primary-color-02);
    color: #fff;
}
.subpage .all-page .subpage-nav-d2-item a:hover {
    background: var(--primary-color);
    color: #fff;
}