:root {
    --primary-color-02: #66B0FF;
    --primary-color-03: #99CBFF;
}

#subpage {
    position: relative;
    width: 100%; height: auto;
    margin-top: var(--header-height);
    z-index: 89;
}
#subpage .subpage-container {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
}
#subpage .subpage-top {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
}
#subpage .subpage-title {
    position: relative;
    width: 100%; height: 400px;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--grid-gap);
    align-items: center;
    background: lime;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#subpage.ceo .subpage-title {
    background-image: url(../source/img/sub01/sub01_top_banner.jpg);
}
#subpage.history .subpage-title {
    background-image: url(../source/img/sub02/sub02_top_banner.jpg);
}
#subpage.way .subpage-title {
    background-image: url(../source/img/sub03/sub03_top_banner.jpg);
}
#subpage.architecture .subpage-title {
    background-image: url(../source/img/sub04/sub04_top_banner.jpg);
}
#subpage.house .subpage-title {
    background-image: url(../source/img/sub05/sub05_top_banner.jpg);
}
#subpage.civil .subpage-title {
    background-image: url(../source/img/sub06/sub06_top_banner.webp);
}
#subpage.landscape .subpage-title {
    background-image: url(../source/img/sub07/sub07_top_banner.jpg);
}
#subpage.ideal .subpage-title {
    background-image: url(../source/img/talent/talent_top_banner.jpg);
}
#subpage.recruiting .subpage-title {
    background-image: url(../source/img/talent/recruiting_top_banner.jpg);
}
#subpage.employment .subpage-title {
    background-image: url(../source/img/talent/employment.top_banner.jpg);
}
#subpage.newspage .subpage-title {
    background-image: url(../source/img/cs/news_top_banner.jpg);
}
#subpage .subpage-title::after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    background: var(--dark-overlayer);
    z-index: 0;
}
#subpage .subpage-title-wrap {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-direction: column;
    grid-gap: var(--grid-gap);
    grid-column: 3/11;
    z-index: 50;
}
#subpage .subpage-title-wrap h3 {
    line-height: var(--line-height-common);
    font-size: var(--section-title);
    font-weight: var(--section-title-weight);
    color: #fff;
    text-shadow: var(--text-shadow);
}
#subpage .subpage-title-wrap h6 {
    line-height: var(--line-height-common);
    font-size: var(--section-desc);
    color: #fafafa;
    text-shadow: var(--text-shadow);
}

#subpage .subpage-top-nav {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--grid-gap);
    background: var(--sub-text-2);
}
#subpage .subpage-nav-list {
    position: relative;
    width: auto; height: auto;
    grid-column: 2/12;
    display: flex;
    flex-direction: row;
}
#subpage .subpage-nav-item {
    position: relative;
    width: 150px; height: auto;
}
#subpage .subpage-nav-item.home {
    background: var(--primary-color-03);
}
#subpage .subpage-nav-item.home a {
    position: relative;
    width: 100%; height: auto;
    padding: 1.2rem 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
}
#subpage .subpage-nav-item.home img {
    position: relative;
    width: auto; height: 1rem;
    filter: drop-shadow(0 1px 4px rgba(0,74,153,0.5));
}
#subpage .subpage-nav-item.category {
    background: var(--primary-color-02);
}
#subpage .subpage-nav-item.page {
    background: var(--primary-color);
}
#subpage .current-category, #subpage .current-page {
    position: relative;
    width: 100%; height: auto;
    padding: 1.2rem 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    grid-gap: 1rem;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,74,153,0.5);
    cursor: pointer;
}
#subpage .nav-expand-triangle {
    position: relative;
    width: auto; height: 0.5rem;
    transition: 0.2s all ease-in-out;
}
#subpage .subpage-nav-item.active .nav-expand-triangle {
    transform: rotate(180deg);
}
#subpage .subpage-nav-depth2 {
    position: absolute;
    top: 100%;
    width: 100%; height: auto;
    max-height: 0px;
    display: flex; flex-direction: column;
    background: #fafafa;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
}
#subpage .subpage-nav-item.active .subpage-nav-depth2 {
    max-height: 220px;
}
#subpage .subpage-nav-d2-item {
    position: relative;
    width: 100%; height: auto;
}
#subpage .subpage-nav-d2-item a {
    position: relative;
    width: 100%; height: auto;
    padding: 1.2rem 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    font-size: 1rem;
    color: var(--primary-color);
    line-height: 1;
}
#subpage .all-category .subpage-nav-d2-item a:hover {
    background: var(--primary-color-02);
    color: #fff;
}
#subpage .all-page .subpage-nav-d2-item a:hover {
    background: var(--primary-color);
    color: #fff;
}

/* 인사말 페이지 **/
#ceo {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
}
#ceo .ceo-container {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: 2rem
}
#ceo .ceo-image {
    position: relative;
    width: 100%; height: 400px;
    display: flex; flex-direction: row;
    background-image: url(../source/img/sub01/ceo_banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 2/12;
}
#ceo .ceo-image img {
    position: absolute;
    right: 5rem; bottom: 0;
    width: auto; height: 120%;
}
#ceo .ceo-name-wrap {
    position: relative;
    width: 100%; height: auto;
    padding-left: 5rem;
    display: flex; flex-direction: column;
    justify-content: center;
    grid-gap: var(--grid-gap);
    color: var(--main-text);
}
#ceo .short-message {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
}
#ceo .ceo-hello {
    position: relative;
    display: flex; flex-direction: column;
    font-size: 1.4rem;
    font-weight: 400;
    grid-gap: 1rem;
}
#ceo .ceo-hello span {
    font-size: 2rem;
    font-weight: 500;
}
#ceo .ceo-message {
    position: relative;
    width: auto; height: auto;
    grid-column: 2/12;
    color: var(--main-text);
    font-size: var(--para-text);
    line-height: 1.6;
}

/* 연혁 페이지 **/
#history {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
    color: var(--main-text);
}
#history .history-container {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: flex; flex-direction: column;
    grid-gap: 4rem;
}
#history .history-catchphrase {
    position: relative;
    width: 100%; height: auto;
    text-align: center;
    grid-gap: 1rem;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
}
#history .history-catchphrase span {
    color: var(--primary-color);
    font-weight: 600;
}
#history .history-timeline {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 5rem;
}
#history .timeline-item {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 3rem;
}
#history .timeline-era {
    position: relative;
    width: auto; height: auto;
    grid-column: 1/3;
    text-align: center;
    font-size: var(--section-title);
    font-weight: var(--section-title-weight);
}
#history .timeline-contents-wrap {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 5rem;
}
#history .timeline-contents-wrap::before {
    content: '';
    position: absolute;
    left: 50%; top: 0;
    width: 2px; height: 100%;
    transform: translateX(-50%);
    background: #f0f0f0;
}
#history .timeline-contents-wrap::after {
    content: '';
    position: absolute;
    left: 50%; top: 0;
    width: 1rem; height: 1rem;
    background: var(--primary-color);
    transform: translateX(-50%) rotate(45deg);
}
#history .timeline-image {
    position: sticky;
    left: 0; top: 24px;
    width: 100%; height: auto;
    background: lime;
    grid-column: 1/7;
    overflow: hidden;
}
#history .timeline-image img {
    position: relative;
    width: 100%; height: 100%;
    object-fit: cover;
}
#history .timeline-details {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 2rem;
    grid-column: 7/13;
}
#history .timeline-detials-item {
    position: relative;
    width: 100%; height: auto;
    padding-left: 100px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}
#history .timeline-date {
    position: absolute;
    left: 0;
    font-weight: 600;
    color: var(--primary-color);
}

/* 오시는 길 **/
#way {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
    color: var(--main-text);
}
#way .way-container {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: flex; flex-direction: column;
    grid-gap: 3rem;
}
/* 카카오맵 **/
#way .way-map-kakao {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
}
#daumRoughmapContainer1689006235967 {
    width: 100%; height: 500px;
    grid-column: 2/12;
}
.root_daum_roughmap .wrap_map {
    width: 100%; height: 100% !important;
}
.wrap_controllers {
    display: none;
}
#way .way-detail-info {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
}
#way .way-table {
    width: 100%; height: auto;
    grid-column: 2/12;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}
#way .way-table tr {
    border-bottom: 1px solid #ccc;
}
#way .way-table tr:last-child {
    border-bottom: none;
}
#way .way-table th {
    width: 25%;
    padding: 24px;
    background: #fafafa;
    border-right: 1px solid #ccc;
    font-size: 1.2rem;
}
#way .way-table td {
    width: 75%;
    padding: 24px;
    color: #666;
}
#way .way-public-wrap {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 2rem;
}
#way .way-public {
    position: relative;
    width: 100%; height: auto;
    padding-left: 10%;
}
#way .public-type {
    position: absolute;
    left: 0; top: 0;
    font-size: 1.2rem;
    color: var(--main-text);
}
#way .public-list {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 1.5rem;
}
#way .public-destination {
    font-size: 1.2rem;
    color: var(--main-text);
}
#way .public-kinds-list {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 1.2rem;
}
#way .public-kinds-item {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: row;
    align-items: center;
    grid-gap: 1rem;
}
#way .public-kinds-item br {
    display: none;
}
#way .bus-type {
    position: relative;
    padding: 5px;
    font-size: 0.8rem;
    color: #fff;
    line-height: 0.8;
}
#way .bus-type.g {
    background-color: #786eff;
}
#way .bus-type.j {
    background-color: #47a75f;
}
#way .bus-type.f {
    background-color: #ff7676;
}
#way .metro-number {
    position: relative;
    display: flex; flex-direction: column;
    grid-gap: 5px;
}
#way .metro-number img {
    position: relative;
    width: 1.2rem; height: 1.2rem;
}

/* 사업영역 통합 **/
#business-portfolio {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
    color: var(--main-text);
}
#business-portfolio .portfolio-container {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: flex; flex-direction: column;
    grid-gap: 4rem;
}
#business-portfolio .portfolio-desc {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: var(--grid-gap);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
#business-portfolio .portfolio-desc br {
    display: none;
}
#business-portfolio .portfolio-lists {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 1fr;
    grid-gap: var(--grid-gap);
    grid-row-gap: 3rem;
}
#business-portfolio .portfolio-item {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 1rem;
    cursor: pointer;
}
#business-portfolio .portfolio-thumbnail {
    position: relative;
    width: 100%; height: auto;
    background: lime;
    background-position: center center;
    background-size: 120%;
    background-repeat: no-repeat;
    transition: 0.2s all ease-in-out;
}
#business-portfolio .portfolio-item:hover .portfolio-thumbnail {
    background-size: 130%;
}

/* 건축사업 **/
#business-portfolio.architecture .portfolio-item:nth-child(6n+1) .portfolio-thumbnail {
    background-image: url(../source/img/sub04/portfolio_thumb01.jpg);
}
#business-portfolio.architecture .portfolio-item:nth-child(6n+2) .portfolio-thumbnail {
    background-image: url(../source/img/sub04/portfolio_thumb02.jpg);
}
#business-portfolio.architecture .portfolio-item:nth-child(6n+3) .portfolio-thumbnail {
    background-image: url(../source/img/sub04/portfolio_thumb03.jpg);
}
#business-portfolio.architecture .portfolio-item:nth-child(6n+4) .portfolio-thumbnail {
    background-image: url(../source/img/sub04/portfolio_thumb04.jpg);
}
#business-portfolio.architecture .portfolio-item:nth-child(6n+5) .portfolio-thumbnail {
    background-image: url(../source/img/sub04/portfolio_thumb05.jpg);
}
#business-portfolio.architecture .portfolio-item:nth-child(6n+6) .portfolio-thumbnail {
    background-image: url(../source/img/sub04/portfolio_thumb06.jpg);
}

/* 주택사업 **/
#business-portfolio.house .portfolio-item:nth-child(6n+1) .portfolio-thumbnail {
    background-image: url(../source/img/sub05/thumb01.jpg);
}
#business-portfolio.house .portfolio-item:nth-child(6n+2) .portfolio-thumbnail {
    background-image: url(../source/img/sub05/thumb02.png);
}
#business-portfolio.house .portfolio-item:nth-child(6n+3) .portfolio-thumbnail {
    background-image: url(../source/img/sub05/thumb03.jpg);
}
#business-portfolio.house .portfolio-item:nth-child(6n+4) .portfolio-thumbnail {
    background-image: url(../source/img/sub05/thumb04.jpg);
}
#business-portfolio.house .portfolio-item:nth-child(6n+5) .portfolio-thumbnail {
    background-image: url(../source/img/sub05/thumb05.jpg);
}
#business-portfolio.house .portfolio-item:nth-child(6n+6) .portfolio-thumbnail {
    background-image: url(../source/img/sub05/thumb06.jpg);
}

/* 토목사업 **/
#business-portfolio.civil .portfolio-item:nth-child(6n+1) .portfolio-thumbnail {
    background-image: url(../source/img/sub06/thumb01.jpg);
}
#business-portfolio.civil .portfolio-item:nth-child(6n+2) .portfolio-thumbnail {
    background-image: url(../source/img/sub06/thumb02.jpg);
}
#business-portfolio.civil .portfolio-item:nth-child(6n+3) .portfolio-thumbnail {
    background-image: url(../source/img/sub06/thumb03.jpg);
}
#business-portfolio.civil .portfolio-item:nth-child(6n+4) .portfolio-thumbnail {
    background-image: url(../source/img/sub06/thumb04.jpg);
}
#business-portfolio.civil .portfolio-item:nth-child(6n+5) .portfolio-thumbnail {
    background-image: url(../source/img/sub06/thumb05.jpg);
}
#business-portfolio.civil .portfolio-item:nth-child(6n+6) .portfolio-thumbnail {
    background-image: url(../source/img/sub06/thumb06.jpg);
}

/* 조경사업 **/
#business-portfolio.landscape .portfolio-item:nth-child(6n+1) .portfolio-thumbnail {
    background-image: url(../source/img/sub07/thumb01.jpg);
}
#business-portfolio.landscape .portfolio-item:nth-child(6n+2) .portfolio-thumbnail {
    background-image: url(../source/img/sub07/thumb02.jpg);
}
#business-portfolio.landscape .portfolio-item:nth-child(6n+3) .portfolio-thumbnail {
    background-image: url(../source/img/sub07/thumb03.jpg);
}
#business-portfolio.landscape .portfolio-item:nth-child(6n+4) .portfolio-thumbnail {
    background-image: url(../source/img/sub07/thumb04.jpg);
}
#business-portfolio.landscape .portfolio-item:nth-child(6n+5) .portfolio-thumbnail {
    background-image: url(../source/img/sub07/thumb05.jpg);
}
#business-portfolio.landscape .portfolio-item:nth-child(6n+6) .portfolio-thumbnail {
    background-image: url(../source/img/sub07/thumb06.jpg);
}

#business-portfolio .portfolio-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--main-text);
    transition: 0.2s all ease-in-out;
}
#business-portfolio .portfolio-item:hover .portfolio-name {
    color: var(--primary-color);
}
#business-portfolio .view-more {
    position: relative;
    width: auto; height: auto;
    padding: 1.2rem 2rem;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    align-self: center;
    grid-gap: 1rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
#business-portfolio .view-more-icon {
    position: relative;
    width: 1rem; height: 1rem;
}
#business-portfolio .view-more-icon::before {
    content: '';
    position: absolute;
    left: 0; top: 50%;
    width: 100%; height: 1px;
    background: var(--primary-color);
    transform: translateY(-50%);
    transition: 0.2s all ease-in-out;
}
#business-portfolio .view-more-icon::after {
    content: '';
    position: absolute;
    left: 50%; top: 0;
    width: 1px; height: 100%;
    background: var(--primary-color);
    transform: translateX(-50%);
    transition: 0.2s all ease-in-out;
}
@media (hover:hover) and (pointer:fine) {
    #business-portfolio .view-more:hover {
        background: var(--primary-color);
        color: #fff;
    }
    #business-portfolio .view-more:hover .view-more-icon::before {
        background: #fff;
    }
    #business-portfolio .view-more:hover .view-more-icon::after {
        background: #fff;
    }
}

/* 인재상 **/
#ideal {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
    color: var(--main-text);
    background: #fafafa;
}
#ideal .ideal-container {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 4rem;
}
#ideal .ideal-summary {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
}
#ideal .ideal-summary-image {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    justify-content: center;
    grid-column: 1/13;
    background-image: url(../source/img/talent/summary-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
}
#ideal .ideal-summary-image::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}
#ideal .ideal-summary-text {
    position: relative;
    width: 100%; height: fit-content;
    display: flex; flex-direction: column;
    grid-gap: var(--grid-gap);
    z-index: 50;
}
#ideal .ideal-summary-title {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: var(--section-title-weight);
    text-align: center;
    background-image: url(../source/img/talent/text_background_01.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px 0px 2px rgba(49,149,255,0.3);
}
#ideal .ideal-summary-desc {
    font-size: 1.4rem;
    line-height: 1.4;
    text-align: center;
    color: var(--sub-text-2);
}
#ideal .ideal-main-value {
    position: relative;
    width: 100%; height: auto;
}
#ideal .ideal-value-list {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
}
#ideal .ideal-value-item {
    position: relative;
    width: 100%; height: fit-content;
    padding-bottom: 24px;
    display: flex; flex-direction: column;
    grid-gap: var(--grid-gap);
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}
#ideal .ideal-value-item:nth-child(1) {
    grid-column: 3/7;
}
#ideal .ideal-value-item:nth-child(2) {
    grid-column: 7/11;
}
#ideal .ideal-value-item:nth-child(3) {
    grid-column: 3/7;
}
#ideal .ideal-value-item:nth-child(4) {
    grid-column: 7/11;
}
#ideal .ideal-value-icon {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #fff;
    overflow: hidden;
}
#ideal .jump {
    background-image: url(../source/img/talent/jump.jpg);
    background-position: center center;
    background-size: auto 110%;
    background-repeat: no-repeat;
}
#ideal .together {
    background-image: url(../source/img/talent/together.jpg);
    background-position: center center;
    background-size: auto 115%;
    background-repeat: no-repeat;
}
#ideal .think {
    background-image: url(../source/img/talent/think.jpg);
    background-position: center center;
    background-size: auto 130%;
    background-repeat: no-repeat;
}
#ideal .effort {
    background-image: url(../source/img/talent/effort.jpg);
    background-position: 0 center;
    background-size: auto 120%;
    background-repeat: no-repeat;
}
#ideal .ideal-value-text {
    position: relative;
    width: 100%; height: auto;
    padding: 0 24px;
    display: flex; flex-direction: column;
    grid-gap: 0rem;
    transition: 0.2s all ease-in-out;
}
#ideal .ideal-value-item.active .ideal-value-text {
    grid-gap: 1rem;
}
#ideal .ideal-value-name {
    font-size: 1.6rem;
    line-height: 1.4;
    transition: 0.2s all ease-in-out;
}
#ideal .ideal-value-item.active .ideal-value-name {
    color: var(--primary-color);
}
#ideal .ideal-value-desc {
    height: auto;
    max-height: 0;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #666;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
}
#ideal .ideal-value-item.active .ideal-value-desc {
    max-height: 460px;
}
#ideal .ideal-value-toggle {
    position: relative;
    width: 3rem; height: 3rem;
    margin-right: 24px;
    align-self: flex-end;
    background: #fff;
    border-radius: 500px;
    box-shadow: 4px 4px 8px #e6e6e6, -4px -4px 8px #fafafa;
    cursor: pointer;
}
#ideal .ideal-value-toggle::before {
    content: '';
    position: absolute;
    left: 50%; top: 50%;
    width: 2px; height: 60%;
    background: var(--primary-color);
    transform: translate(-50%, -50%) rotate(0);
    opacity: 1;
    transition: 0.2s all ease-in-out;
}
#ideal .ideal-value-item.active .ideal-value-toggle::before {
    transform: translate(-50%, -50%) rotate(90deg);
}
#ideal .ideal-value-toggle::after {
    content: '';
    position: absolute;
    left: 50%; top: 50%;
    width: 60%; height: 2px;
    background: var(--primary-color);
    transform: translate(-50%, -50%);
}
.check-this {
    position: relative;
    width: 100%; height: auto;
}
.check-wrap {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(2,auto);
    place-items: end;
    grid-gap: 1rem;
}
.check-wrap>* {
    grid-column: 3/11;
}
.check-title {
    font-size: 1.2rem;
    line-height: 1.4;
}
.check-wrap a {
    position: relative;
    display: block;
    width: auto; height: auto;
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 500px;
    border: 1px solid #333;
    color: #333;
    font-weight: 400;
    line-height: 1.4;
    transition: 0.2s all ease-in-out;
}
.check-wrap a:hover {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    color: #fff;
    font-weight: 500;
}

/* 채용안내 **/
#recruiting {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
    background: #fafafa;
    color: var(--main-text);
}
#recruiting .recruiting-container {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 4rem;
}
#recruiting .recruiting-top-text {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
}
#recruiting .recruiting-top-desc {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: var(--grid-gap);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}
#recruiting .recruiting-top-desc br {
    display: none;
}
#recruiting .recruiting-progress {
    position: relative;
    width: 100%; height: auto;
}
#recruiting .progress-wrap {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
    grid-row-gap: 2.5rem;
}
#recruiting .progress-title {
    font-size: 3rem;
    font-weight: var(--section-title-weight);
    grid-column: 3/11;
}
#recruiting .progess-list {
    position: relative;
    width: 100%; height: auto;
    padding: 24px;
    grid-column: 3/11;
    background: #fff;
    border-radius: 20px;
    display: flex; flex-direction: column;
    grid-gap: var(--grid-gap);
}
#recruiting .progress-item {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: row;
    justify-content: flex-start;
    grid-gap: var(--grid-gap);
}
#recruiting .progress-item:nth-child(2n) {
    flex-direction: row-reverse;
}
#recruiting .progress-thumb {
    position: relative;
    width: 30%; height: auto;
    background: lime;
    border-radius: 2000px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#recruiting .document .progress-thumb {background-image: url(../source/img/talent/document.jpg);}
#recruiting .compat .progress-thumb {background-image: url(../source/img/talent/meeting.jpg);}
#recruiting .environment .progress-thumb {background-image: url(../source/img/talent/environment.jpg);}
#recruiting .practice .progress-thumb {background-image: url(../source/img/talent/interview.jpg);}
#recruiting .manage .progress-thumb {background-image: url(../source/img/talent/management.jpg);}
#recruiting .health .progress-thumb {background-image: url(../source/img/talent/medical.jpg);}

#recruiting .progress-details {
    position: relative;
    width: 50%; height: auto;
    grid-column: 4/13;
    display: flex; flex-direction: column;
    justify-content: center;
    grid-gap: var(--grid-gap);
}
#recruiting .progress-name {
    font-size: 2rem;
    font-weight: 500;
}
#recruiting .progress-desc {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    font-size: 1.2rem;
    line-height: 1.4;
}

/* 채용공고 **/
#employment {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
    color: var(--main-text);
}
#employment .employment-container {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
}
#employment .employment-section-1 {
    position: sticky;
    left: 0; top: 24px;
    width: 100%; height: fit-content;
    grid-column: 1/4;
    display: flex; flex-direction: column;
    grid-gap: 24px;
    border-bottom: 1px solid #333;
}
#employment .employment-filter-title {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#employment .employment-filter-title h6 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4;
}
#employment .reset-btn {
    position: relative;
    width: auto; height: 100%;
    margin: 0; padding: 0;
    display: flex; flex-direction: row;
    align-items: center;
    grid-gap: 0.5rem;
    background: none;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    cursor: pointer;
    color: #666;
}
#employment .reset-icon img {
    width: auto; height: 0.8rem;
}
#employment .search-form-wrap {
    position: relative;
    width: 100%; height: auto;
    padding: 1rem 24px;
    display: flex; flex-direction: row;
    grid-gap: var(--grid-gap);
    background: #f0f0f0;
}
#employment .employment-search-form {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: row;
    grid-gap: 1rem;
}
#employment .search-condition-expand {
    display: none;
}
#employment .employment-search-form label {
    display: none;
}
#employment .employment-search-form input {
    position: relative;
    margin: 0; padding: 0;
    width: 90%;
    border: 0;
    background: transparent;
    font-size: 1rem;
}
#employment .employ-search-btn {
    position: absolute;
    top: 50%; right: 24px;
    transform: translateY(-50%);
    cursor: pointer;
}
#employment .employ-search-btn img {
    width: auto; height: 1rem;
}

#employment .employment-filters {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 24px;
}
#employment .employment-filter-item {
    position: relative;
    width: 100%; height: auto;
    padding-bottom: 1rem;
    display: flex; flex-direction: column;
    grid-gap: 0;
    border-bottom: 1px solid #cfcfcf;
    transition: 0.2s all ease-in-out;
    transition-delay: 0.1s;
}
#employment .employment-filter-item:last-child {
    border-bottom: none;
}
#employment .employment-filter-name {
    position: relative;
    width: auto; height: auto;
    padding: 1rem 0;
    display: block;
    font-size: 1.2rem;
    line-height: 1.4;
    cursor: pointer;
}
#employment .employment-filter-name::before {
    content: '';
    position: absolute;
    right: 0; top: 50%;
    width: 1rem; height: 2px;
    background: #333;
    transform: translateY(-50%);
}
#employment .employment-filter-name::after {
    content: '';
    position: absolute;
    right: calc(1rem / 2); top: 50%;
    width: 2px; height: 1rem;
    background: #333;
    transform: translateX(50%) translateY(-50%);
    opacity: 1;
    transition: 0.2s all ease-in-out;
}
#employment .employment-filter-name.active::after {
    opacity: 0;
}
#employment .employment-filter-details {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 1rem;
    overflow: hidden;
    max-height: 0px;
    transition: 0.2s all ease-in-out;
}
#employment .employment-filter-item.active .employment-filter-details {
    max-height: 200px;
}
#employment .employment-filter-details-item input[type="checkbox"] {
    position: absolute;
    left: 0; top: 0;
    width: 1px; height: 1px;
    opacity: 0;
}
#employment .employment-filter-details-item input[type="checkbox"] + label {
    position: relative;
    display: block;
    width: auto; height: auto;
    padding: 0.5rem 0.8rem;
    border: 1px solid #333;
    cursor: pointer;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#employment .employment-filter-details-item input[type="checkbox"]:checked + label {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

#employment .employment-section-2 {
    position: relative;
    width: 100%; height: auto;
    grid-column: 4/13;
    display: flex; flex-direction: column;
}
#employment .employment-total-count {
    position: relative;
    width: 100%; height: auto;
    padding-bottom: 1rem;
    border-bottom: 1px solid #333;
    color: #666;
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 300;
}
#employment .employment-available-count {
    color: var(--primary-color);
    font-weight: 500;
}
#employment .employment-list {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
}
#employment .employment-list-item {
    position: relative;
    width: 100%; height: auto;
    border-bottom: 1px solid #cfcfcf;
}
#employment .employment-list-item:last-child {
    border-bottom: 1px solid #333;
}
#employment .employment-list-item a {
    position: relative;
    width: 100%; height: auto;
    padding: 1rem 0;
    display: flex; flex-direction: column;
    grid-gap: 1rem;
}
#employment .employment-list-item .recruit-types {
    position: relative;
    width: auto; height: auto;
    display: flex; flex-direction: row;
    grid-gap: 0.5rem;
}
#employment .recruit-types li {
    position: relative;
    width: auto; height: auto;
    padding: 0.5rem;
    font-size: 0.8rem;
    border: 1px solid #666;
    color: #666;
}
#employment .recruit-types .type {
    border: 1px solid var(--sub-color);
    color: var(--sub-color);
}
#employment .recruit-types .career {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
#employment .recruit-details-wrap {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 0.5rem;
}
#employment .recruit-title {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #333;
}
#employment .recruit-limit {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 300;
    color: #666;
}
#employment .recruit-limit br {
    content: "";
}
#employment .recruit-count {
    position: relative;
    width: auto; height: auto;
    font-size: 1rem;
    color: var(--primary-color);
    font-weight: 400;
}
.pagination {
    position: relative;
    width: 100%; height: auto;
    margin-top: 24px;
    display: flex; flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-gap: 3rem;
    font-size: 1.2rem;
}
.pagination-item {
    position: relative;
    width: auto; height: auto;
}
.pagination-item > ul {
    position: relative;
    width: auto; height: auto;
    display: flex; flex-direction: row;
    grid-gap: 1rem;
}
.pagination-item a {
    color: #333;
}
.pagination-item a img {
    width: auto; height: 1.2rem;
}
.pagination-next-group a img {
    transform: rotate(180deg);
}
.pagination-item .disabled a {
    cursor: default;
    opacity: 0.5;
}
.pagination-each-pages {
    position: relative;
    width: 1.8rem; height: 1.8rem;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
}
.pagination-each-pages.current {
    color: #fff
}
.pagination-each-pages.current::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    border-radius: 100px;
    background: var(--primary-color);
    box-sizing: border-box;
    z-index: -1;
}

#newspage {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
    color: #333;
}
#newspage .newspage-container {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    padding: var(--grid-padding);
    grid-gap: var(--grid-gap);
}
#newspage .newspage-list {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}
#newspage .newspage-item {
    position: relative;
    width: 100%; height: auto;
    border-bottom: 1px solid #cfcfcf;
}
#newspage .newspage-item:last-child {
    border-bottom: none;
}
#newspage .newspage-link {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-gap) 0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
    color: #333;
}
#newspage .newspage-thumbnail {
    position: relative;
    width: 100%; height: auto;
    grid-column: 1/4;
    background: url(../source/img/cs/newspage_thumbnail.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#newspage .newspage-textarea {
    position: relative;
    width: 100%; height: 100%;
    display: flex; flex-direction: column;
    grid-gap: 1rem;
    grid-column: 4/13;
}
#newspage .newspage-title {
    position: relative;
    width: auto; height: auto;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#newspage .newspage-summary {
    position: relative;
    width: auto; height: auto;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: #666;
}
#newspage .newspage-date {
    position: relative;
    width: auto; height: auto;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.4;
    color: #666;
}
#newspage .newspage-date i {
    font-style: normal;
}

/* 1025 ~ 1200 대응 **/
@media (max-width: 1200px) {
    #subpage .subpage-title {
        height: 350px;
    }

    /* 인사말 페이지 **/
    #ceo .ceo-image {
        grid-column: 1/13;
    }
    #ceo .ceo-image img {
        height: 90%;
    }
    #ceo .ceo-message {
        grid-column: 1/13;
    }

    /* 연혁 페이지 **/
    #history .timeline-contents-wrap {
        grid-gap: 4rem;
    }
    #history .timeline-detials-item {
        line-height: 1.4;
    }

    /* 오시는길 페이지 **/
    /* 카카오맵 **/
    #daumRoughmapContainer1689006235967 {
        grid-column: 1/13;
    }
    #way .way-table {
        grid-column: 1/13;
    }

    /* 사업영역 공통 **/
    #business-portfolio .portfolio-desc {
        font-size: 1.2rem;
    }
    #business-portfolio .portfolio-desc br {
        display: block;
    }
    #business-portfolio .portfolio-name {
        font-size: 1.2rem;
    }

    /* 인재상 **/
    #ideal .ideal-summary-title {
        font-size: 2.5rem;
    }
    #ideal .ideal-summary-desc {
        font-size: 1.2rem;
    }
    #ideal .ideal-value-item:nth-child(1) {grid-column: 1/7;}
    #ideal .ideal-value-item:nth-child(2) {grid-column: 7/13;}
    #ideal .ideal-value-item:nth-child(3) {grid-column: 1/7;}
    #ideal .ideal-value-item:nth-child(4) {grid-column: 7/13;}
    .check-wrap>* {
        grid-column: 1/13;
    }

    /* 채용안내 **/
    #recruiting .recruiting-top-desc {
        font-size: 1.2rem;
    }
    #recruiting .recruiting-top-desc br {
        display: block;
    }
    #recruiting .progress-title {
        grid-column: 1/13;
    }
    #recruiting .progess-list {
        grid-column: 1/13;
    }

    /* 채용공고 **/
    #employment .employment-section-1 {
        grid-column: 1/5;
    }
    #employment .employment-section-2 {
        grid-column: 5/13;
    }

    /* 새소식 **/
    #newspage .newspage-thumbnail {
        grid-column: 1/5;
    }
    #newspage .newspage-textarea {
        grid-column: 5/13;
    }
    #newspage .newspage-title {
        font-size: 1.5rem;
        line-height: 1.2;
    }
    #newspage .newspage-summary {
        font-size: 1rem;
        line-height: 1.2;
    }
    #newspage .newspage-date {
        font-size: 1rem;
        line-height: 1.2;
    }
}

/* 769 ~ 1024 대응 **/
@media (max-width: 1024px) {
    #subpage .subpage-top-nav {
        padding: 0;
    }
    #subpage .subpage-nav-list {
        grid-column: 1/13;
    }
    #ceo .ceo-image {
        height: 300px;
    }
    #ceo .ceo-image img {
        right: 2rem;
    }
    #ceo .ceo-name-wrap {
        padding-left: 2rem;
    }
    #ceo .short-message {
        font-size: 1.5rem;
    }
    #ceo .ceo-hello {
        font-size: 1.2rem;
    }
    #ceo .ceo-hello span {
        font-size: 1.5rem;
    }

    /* 연혁 **/
    #history .timeline-contents-wrap {
        grid-gap: 3rem;
    }
    #history .timeline-details {
        grid-gap: 1.2rem;
    }
    #history .timeline-detials-item {
        font-size: 1rem;
    }

    /* 오시는 길 **/
    /* 카카오맵 **/
    #daumRoughmapContainer1689006235967 {
        height: 400px;
    }
    #way .way-table th {
        width: 20%;
        padding: 16px;
    }
    #way .way-table td {
        width: 80%;
        padding: 16px;
    }
    #way .way-public {
        padding-left: 80px;
    }
    #way .public-kinds-item {
        line-height: 1.4;
    }

    /* 사업영역 공통 **/
    #business-portfolio .portfolio-lists {
        grid-template-columns: repeat(3,1fr);
    }

    /* 인재상 **/
    #ideal .ideal-summary-title {
        font-size: 2rem;
        font-weight: 600;
    }
    #ideal .ideal-summary-desc {
        font-size: 1rem;
    }
    #ideal .ideal-value-name {
        font-size: 1.4rem;
    }
    #ideal .ideal-value-item .ideal-value-desc {
        font-size: 1rem;
    }

    /* 채용안내 **/
    #recruiting .progress-thumb {
        width: 35%;
    }
    #recruiting .progress-details {
        width: 65%;
    }
    #recruiting .progress-name {
        font-size: 1.4rem;
    }
    #recruiting .progress-desc {
        font-size: 1rem;
    }

    /* 채용공고 **/
    #employment .employment-container {
        grid-row-gap: 4rem;
    }
    #employment .employment-section-1 {
        position: relative;
        top: 0;
        grid-column: 1/13;
    }
    #employment .employment-section-2 {
        grid-column: 1/13;
    }
    #employment .search-form-wrap {
        width: auto;
        flex-grow: 1;
    }
    #employment .search-condition-expand {
        position: relative;
        width: auto; height: auto;
        display: flex; flex-direction: row;
        justify-content: center; align-items: center;
        border: 2px solid #f0f0f0;
        border-radius: 100px;
        cursor: pointer;
    }
    #employment .search-condition-expand::after {
        content: '';
        position: absolute;
        left: 50%; top: 50%;
        width: 1rem; height: 2px;
        background: #333;
        transform: translate(-50%, -50%);
        transition: 0.2s all ease-in-out;
    }
    #employment .employment-section-1.active .search-condition-expand::after {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    #employment .search-condition-expand::before {
        content: '';
        position: absolute;
        left: 50%; top: 50%;
        width: 2px; height: 1rem;
        background: #333;
        transform: translate(-50%,-50%);
        transition: 0.2s all ease-in-out;
    }
    #employment .employment-section-1.active .search-condition-expand::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }
    #employment .employment-filters {
        max-height: 0;
        overflow: hidden;
        transition: 0.2s all ease-in-out;
    }
    #employment .employment-section-1.active .employment-filters {
        max-height: 480px;
    }

    /* 새소식 **/
    #newspage .newspage-title {
        font-size: 1.4rem;
    }
}

/* 641 ~ 768 대응 **/
@media (max-width: 768px) {
    #subpage .subpage-title {
        height: 300px;
    }
    #subpage .subpage-nav-item {
        width: 120px;
    }
    #subpage .subpage-nav-item a {
        padding: 1rem 0;
    }
    #subpage .subpage-nav-item.home img {
        height: 0.8rem;
    }
    #subpage .current-category, #subpage .current-page {
        font-size: 0.8rem;
    }

    /* 연혁 **/
    #history .history-catchphrase {
        font-size: 2.5rem;
    }
    #history .timeline-item {
        grid-gap: 2rem;
    }
    #history .timeline-contents-wrap {
        grid-template-rows: repeat(2, auto);
        grid-gap: 2rem;
    }
    #history .timeline-contents-wrap::before, #history .timeline-contents-wrap::after {
        display: none;
    }
    #history .timeline-image {
        position: relative;
        top: 0;
        grid-column: 1/13;
    }
    #history .timeline-details {
        padding-left: 2rem;
        grid-column: 1/13;
    }
    #history .timeline-details::before {
        content: '';
        position: absolute;
        left: 8px; top: 0;
        width: 2px; height: 100%;
        background: #f0f0f0;
    }
    #history .timeline-details::after {
        content: '';
        position: absolute;
        left: 3px; top: 4px;
        width: 0.8rem; height: 0.8rem;
        background: var(--primary-color);
        transform: rotate(45deg);
    }
    #history .timeline-detials-item {
        padding-left: 80px;
    }

    /* 오시는 길 **/
    #way .way-table td {
        line-height: 1.4;
    }

    /* 사업영역 공통 **/
    #business-portfolio .portfolio-container {
        grid-gap: 3rem;
    }
    #business-portfolio .portfolio-desc {
        font-size: 1rem;
    }
    #business-portfolio .portfolio-lists {
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 2.5rem;
    }

    /* 인재상 **/
    #ideal .ideal-container {
        grid-gap: 3rem;
    }
    #ideal .ideal-summary-title {
        font-size: 1.6rem;
    }
    #ideal .ideal-value-item {
        padding-bottom: 1rem;
    }
    #ideal .ideal-value-text {
        padding: 0 1rem;
    }
    #ideal .ideal-value-name {
        font-size: 1.2rem;
    }
    #ideal .ideal-value-toggle {
        width: 2.5rem; height: 2.5rem;
        margin-right: 1rem;
        box-shadow: 3px 3px 6px #e6e6e6, -3px -3px 6px #fafafa;
    }

    /* 채용안내 **/
    #recruiting .recruiting-container {
        grid-gap: 3rem;
    }
    #recruiting .recruiting-top-desc {
        font-size: 1rem;
    }
    #recruiting .progress-desc {
        display: block;
    }

    /* 채용공고 **/
    #employment .employment-container {
        grid-row-gap: 2rem;
    }
    #employment .employment-section-1 {
        grid-gap: 1rem;
    }
    #employment .search-form-wrap {
        padding: 1rem;
    }
    #employment .employment-search-form input {
        width: 95%;
    }
    #employment .employ-search-btn {
        right: 1rem
    }
    #employment .employment-filters {
        grid-gap: 1rem;
    }
    .pagination {
        grid-gap: 2rem;
        font-size: 1rem;
    }

    /* 새소식 **/
    #newspage .newspage-title {
        font-size: 1.2rem;
    }
    #newspage .newspage-summary {
        font-size: 0.8rem;
    }
    #newspage .newspage-date {
        font-size: 0.8rem;
    }
}

/* 481 ~ 640 대응 **/
@media (max-width: 640px) {
    #subpage .subpage-title {
        height: 250px;
    }
    #subpage .subpage-title-wrap {
        grid-column: 2/12;
    }
    #subpage .subpage-nav-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #subpage .subpage-nav-item {
        width: 100%
    }

    #ceo .ceo-image {
        height: 250px;
    }
    #ceo .ceo-image img {
        right: 1rem;
    }
    #ceo .ceo-name-wrap {
        padding-left: 1rem;
    }
    #ceo .short-message {
        font-size: 1.2rem;
    }
    #ceo .ceo-hello {
        font-size: 1rem;
    }
    #ceo .ceo-hello span {
        font-size: 1.2rem;
    }

    /* 연혁 **/
    #history .history-catchphrase {
        font-size: 2rem;
    }

    /* 오시는 길 **/
    /* 카카오맵 **/
    #daumRoughmapContainer1689006235967 {
        height: 300px;
    }
    #way .way-table th {
        width: 25%;
        font-size: 1rem;
    }
    #way .way-table td {
        font-size: 0.8rem;
    }
    #way .way-public {
        padding-left: 0;
        display: flex; flex-direction: column;
        grid-gap: var(--grid-gap);
    }
    #way .public-type {
        position: relative;
        font-size: 1rem;
    }
    #way .public-destination {
        font-size: 1rem;
    }

    /* 사업영역 공통 **/
    #business-portfolio .portfolio-name {
        font-size: 1rem;
    }
    #business-portfolio .view-more {
        padding: 0.8rem 1rem;
        font-size: 0.8rem;
    }
    #business-portfolio .view-more-icon {
        width: 0.8rem; height: 0.8rem;
    }

    /* 인재상 **/
    #ideal .ideal-summary-image {
        padding: 1rem;
    }
    #ideal .ideal-value-item.active .ideal-value-desc {
        max-height: 500px;
    }
    #ideal .ideal-summary-desc br {
        display: none;
    }
    /*
    #ideal .ideal-value-item {
        grid-column: 1/13 !important;
    }*/

    /* 채용안내 **/
    #recruiting .progress-title {
        font-size: 2.5rem;
    }
    #recruiting .progess-list {
        padding: 1rem;
    }
    #recruiting .progress-name {
        font-size: 1.2rem;
    }
    #recruiting .progress-desc {
        font-size: 0.8rem;
    }

    /* 채용공고 **/
    #employment .employment-container {
        grid-row-gap: 2rem;
    }
    #employment .employment-section-1 {
        grid-gap: 0.8rem;
    }
    #employment .search-form-wrap {
        padding: 0.8rem;
    }
    #employment .employment-search-form {
        grid-gap: 0.8rem;
    }
    #employment .employment-search-form input {
        width: 90%;
    }
    #employment .employment-section-1 .employment-filters {
        grid-gap: 0.8rem;
    }
    #employment .employment-filter-item {
        padding-bottom: 0.8rem;
    }
    #employment .employment-filter-name {
        padding: 0.8rem 0;
    }
    #employment .employment-filter-details {
        grid-gap: 0.8rem;
    }

    #employment .employment-total-count {
        padding-bottom: 0.8rem;
        font-size: 1rem;
    }
    #employment .employment-list-item a {
        padding: 0.8rem 0;
        grid-gap: 0.8rem;
    }
    #employment .recruit-types li {
        padding: 0.4rem;
    }
    #employment .recruit-title {
        font-size: 1.2rem;
    }

    .pagination {
        grid-gap: 1.4rem;
    }
    .pagination-item > ul {
        grid-gap: 0.8rem;
    }
    .pagination-item:nth-child(2) > ul {
        flex-wrap: wrap;
    }
    .pagination-item a img {
        height: 1rem;
    }
    .pagination-each-pages {
        width: 1.4rem; height: 1.4rem;
    }

    /* 새소식 **/
    #newspage .newspage-textarea {
        grid-gap: 0.8rem;
    }
    #newspage .newspage-title {
        font-size: 1rem;
    }
}

/* 321 ~ 480 대응 **/
@media (max-width: 480px) {
    #subpage .subpage-nav-item.home a {
        padding: 1rem 0;
    }
    #subpage .current-category, #subpage .current-page {
        padding: 1rem 0;
    }

    #ceo .ceo-image {
        height: auto;
        padding: 2rem 1rem 0 1rem;
        flex-direction: column-reverse;
        align-items: center;
        grid-gap: 2rem;
    }
    #ceo .ceo-image img {
        position: relative;
        width: 80%; height: auto;
        right: 0;
    }
    #ceo .ceo-name-wrap {
        padding-left: 0;
        grid-gap: 1rem;
    }
    #ceo .short-message {
        text-align: center;
    }
    #ceo .ceo-hello {
        text-align: center;
    }

    /* 연혁 **/
    #history .history-catchphrase {
        font-size: 1.6rem;
    }
    #history .timeline-era {
        font-size: 2.5rem;
    }
    #history .timeline-contents-wrap {
        grid-column-gap: 0.8rem;
    }
    #history .timeline-details {
        padding-left: 1.5rem;
        grid-gap: 1rem;
    }
    #history .timeline-detials-item {
        padding-left: 65px;
        font-size: 0.8rem;
    }
    #history .timeline-details::after {
        width: 0.6rem; height: 0.6rem;
    }
    #history .timeline-details::before {
        left: 7px;
    }

    /* 오시는 길 **/
    /* 카카오맵 **/
    #daumRoughmapContainer1689006235967 {
        height: 200px;
    }
    #way .public-kinds-item br {
        display: block;
    }

    /* 사업영역 공통 **/
    #business-portfolio .portfolio-desc {
        font-size: 0.8rem;
    }
    #business-portfolio .portfolio-desc br {
        display: none;
    }
    #business-portfolio .portfolio-lists {
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;
    }
    #business-portfolio .portfolio-item:nth-child(n+9) {
        display: none;
    }

    /* 인재상 **/
    #ideal .ideal-container {
        grid-gap: 1rem;
    }
    #ideal .ideal-summary-image {
        padding: 6rem 1rem;
    }
    #ideal .ideal-summary-title {
        font-size: 1.4rem;
    }
    #ideal .ideal-summary-desc {
        font-size: 0.8rem;
    }
    #ideal .ideal-value-item {
        grid-column: 1/13 !important;
    }
    #ideal .ideal-value-item .ideal-value-desc {
        font-size: 0.8rem;
    }
    .check-wrap {
        grid-gap: 0.8rem;
    }
    .check-wrap>* {
        font-size: 1rem;
    }
    .check-wrap a {
        font-size: 0.8rem;
    }

    /* 채용안내 **/
    #recruiting .recruiting-container {
        grid-gap: 1rem;
    }
    #recruiting .recruiting-top-desc {
        font-size: 0.8rem;
    }
    #recruiting .progress-title {
        font-size: 2rem;
    }
    #recruiting .progess-list {
        grid-gap: 2rem;
    }
    #recruiting .progress-item {
        flex-direction: column;
    }
    #recruiting .progress-item:nth-child(2n) {
        flex-direction: column;
    }
    #recruiting .progress-thumb {
        width: 70%;
        align-self: center;
    }
    #recruiting .progress-details {
        width: 100%;
    }

    /* 채용공고 **/
    #employment .employment-container {
        grid-row-gap: 1rem;
    }
    #employment .employment-search-form input {
        font-size: 0.8rem;
    }
    #employment .employ-search-btn {
        right: 0.8rem
    }
    #employment .employ-search-btn img {
        height: 0.8rem;
    }
    #employment .search-condition-expand::after {width: 0.8rem;}
    #employment .search-condition-expand::before {height: 0.8rem;}

    #employment .recruit-title {
        font-size: 1rem;
    }
    #employment .recruit-limit {
        font-size: 0.8rem;
    }
    #employment .recruit-count {
        font-size: 0.8rem;
    }

    /* 새소식 **/
    #newspage .newspage-link {
        grid-gap: 0.5rem;
    }
}

/* ~320 대응 **/
@media (max-width: 320px) {
    #subpage .subpage-title {
        height: 200px;
    }

    /* 사업영역 공통 **/
    #business-portfolio .portfolio-item {
        grid-gap: 0.8rem;
    }

    /* 인재상 **/
    #ideal .ideal-value-item {
        padding-bottom: 0.8rem;
    }
    #ideal .ideal-value-item.active .ideal-value-text {
        grid-gap: 0.8rem;
    }
    #ideal .ideal-value-text {
        padding: 0 0.8rem;
    }
    #ideal .ideal-value-toggle {
        margin-right: 0.8rem;
    }

    /* 채용안내 **/
    #recruiting .progess-list {
        padding: 0.8rem;
    }
}