:root {
    --primary-color-02: #66B0FF;
    --primary-color-03: #99CBFF;
}

#subpage {
    position: relative;
    width: 100%; height: auto;
    margin-top: var(--header-height);
    z-index: 89;
}
#subpage .subpage-container {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
}
#subpage .subpage-top {
    position: relative;
    width: 100%; height: auto;
    display: flex;
    flex-direction: column;
}
#subpage .subpage-title {
    position: relative;
    width: 100%; height: 400px;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--grid-gap);
    align-items: center;
    background: lime;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
#subpage.ceo .subpage-title {
    background-image: url(../source/img/sub01/sub01_top_banner.jpg);
}
#subpage.history .subpage-title {
    background-image: url(../source/img/sub02/sub02_top_banner.jpg);
}
#subpage.way .subpage-title {
    background-image: url(../source/img/sub03/sub03_top_banner.jpg);
}
#subpage .subpage-title::after {
    content: '';
    position: absolute;
    width: 100%; height: 100%;
    background: var(--dark-overlayer);
    z-index: 0;
}
#subpage .subpage-title-wrap {
    position: relative;
    width: auto; height: auto;
    display: flex;
    flex-direction: column;
    grid-gap: var(--grid-gap);
    grid-column: 3/11;
    z-index: 50;
}
#subpage .subpage-title-wrap h3 {
    line-height: var(--line-height-common);
    font-size: var(--section-title);
    font-weight: var(--section-title-weight);
    color: #fff;
    text-shadow: var(--text-shadow);
}
#subpage .subpage-title-wrap h6 {
    line-height: var(--line-height-common);
    font-size: var(--section-desc);
    color: #fafafa;
    text-shadow: var(--text-shadow);
}

#subpage .subpage-top-nav {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr;
    grid-gap: var(--grid-gap);
    background: var(--sub-text-2);
}
#subpage .subpage-nav-list {
    position: relative;
    width: auto; height: auto;
    grid-column: 2/12;
    display: flex;
    flex-direction: row;
}
#subpage .subpage-nav-item {
    position: relative;
    width: 150px; height: auto;
}
#subpage .subpage-nav-item.home {
    background: var(--primary-color-03);
}
#subpage .subpage-nav-item.home a {
    position: relative;
    width: 100%; height: auto;
    padding: 1.2rem 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
}
#subpage .subpage-nav-item.home img {
    position: relative;
    width: auto; height: 1rem;
    filter: drop-shadow(0 1px 4px rgba(0,74,153,0.5));
}
#subpage .subpage-nav-item.category {
    background: var(--primary-color-02);
}
#subpage .subpage-nav-item.page {
    background: var(--primary-color);
}
#subpage .current-category, #subpage .current-page {
    position: relative;
    width: 100%; height: auto;
    padding: 1.2rem 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    grid-gap: 1rem;
    font-size: 1rem;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 4px rgba(0,74,153,0.5);
    cursor: pointer;
}
#subpage .nav-expand-triangle {
    position: relative;
    width: auto; height: 0.5rem;
    transition: 0.2s all ease-in-out;
}
#subpage .subpage-nav-item.active .nav-expand-triangle {
    transform: rotate(180deg);
}
#subpage .subpage-nav-depth2 {
    position: absolute;
    top: 100%;
    width: 100%; height: auto;
    max-height: 0px;
    display: flex; flex-direction: column;
    background: #fafafa;
    overflow: hidden;
    transition: 0.2s all ease-in-out;
}
#subpage .subpage-nav-item.active .subpage-nav-depth2 {
    max-height: 220px;
}
#subpage .subpage-nav-d2-item {
    position: relative;
    width: 100%; height: auto;
}
#subpage .subpage-nav-d2-item a {
    position: relative;
    width: 100%; height: auto;
    padding: 1.2rem 0;
    display: flex; flex-direction: row;
    justify-content: center; align-items: center;
    font-size: 1rem;
    color: var(--primary-color);
    line-height: 1;
}
#subpage .all-category .subpage-nav-d2-item a:hover {
    background: var(--primary-color-02);
    color: #fff;
}
#subpage .all-page .subpage-nav-d2-item a:hover {
    background: var(--primary-color);
    color: #fff;
}

/* 인사말 페이지 **/
#ceo {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
}
#ceo .ceo-container {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: 2rem
}
#ceo .ceo-image {
    position: relative;
    width: 100%; height: 400px;
    display: flex; flex-direction: row;
    background-image: url(../source/img/sub01/ceo_banner.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 2/12;
}
#ceo .ceo-image img {
    position: absolute;
    right: 5rem; bottom: 0;
    width: auto; height: 120%;
}
#ceo .ceo-name-wrap {
    position: relative;
    width: 100%; height: auto;
    padding-left: 5rem;
    display: flex; flex-direction: column;
    justify-content: center;
    grid-gap: var(--grid-gap);
    color: var(--main-text);
}
#ceo .short-message {
    position: relative;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.4;
}
#ceo .ceo-hello {
    position: relative;
    display: flex; flex-direction: column;
    font-size: 1.4rem;
    font-weight: 400;
    grid-gap: 1rem;
}
#ceo .ceo-hello span {
    font-size: 2rem;
    font-weight: 500;
}
#ceo .ceo-message {
    position: relative;
    width: auto; height: auto;
    grid-column: 2/12;
    color: var(--main-text);
    font-size: var(--para-text);
    line-height: 1.6;
}

/* 연혁 페이지 **/
#history {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
    color: var(--main-text);
}
#history .history-container {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: flex; flex-direction: column;
    grid-gap: 4rem;
}
#history .history-catchphrase {
    position: relative;
    width: 100%; height: auto;
    text-align: center;
    grid-gap: 1rem;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.4;
}
#history .history-catchphrase span {
    color: var(--primary-color);
    font-weight: 600;
}
#history .history-timeline {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 5rem;
}
#history .timeline-item {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 3rem;
}
#history .timeline-era {
    position: relative;
    width: auto; height: auto;
    grid-column: 1/3;
    text-align: center;
    font-size: var(--section-title);
    font-weight: var(--section-title-weight);
}
#history .timeline-contents-wrap {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 5rem;
}
#history .timeline-contents-wrap::before {
    content: '';
    position: absolute;
    left: 50%; top: 0;
    width: 2px; height: 100%;
    transform: translateX(-50%);
    background: #f0f0f0;
}
#history .timeline-contents-wrap::after {
    content: '';
    position: absolute;
    left: 50%; top: 0;
    width: 1rem; height: 1rem;
    background: var(--primary-color);
    transform: translateX(-50%) rotate(45deg);
}
#history .timeline-image {
    position: sticky;
    left: 0; top: 24px;
    width: 100%; height: auto;
    background: lime;
    grid-column: 1/7;
    overflow: hidden;
}
#history .timeline-image img {
    position: relative;
    width: 100%; height: 100%;
    object-fit: cover;
}
#history .timeline-details {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 2rem;
    grid-column: 7/13;
}
#history .timeline-detials-item {
    position: relative;
    width: 100%; height: auto;
    padding-left: 100px;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}
#history .timeline-date {
    position: absolute;
    left: 0;
    font-weight: 600;
    color: var(--primary-color);
}

/* 오시는 길 **/
#way {
    position: relative;
    width: 100%; height: auto;
    padding: var(--topbottom-padding);
    color: var(--main-text);
}
#way .way-container {
    position: relative;
    width: 100%; height: auto;
    padding: var(--grid-padding);
    display: flex; flex-direction: column;
    grid-gap: 3rem;
}
/* 카카오맵 **/
#way .way-map-kakao {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
}
#daumRoughmapContainer1689006235967 {
    width: 100%; height: 500px;
    grid-column: 2/12;
}
.root_daum_roughmap .wrap_map {
    width: 100%; height: 100% !important;
}
.wrap_controllers {
    display: none;
}
#way .way-detail-info {
    position: relative;
    width: 100%; height: auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: var(--grid-gap);
}
#way .way-table {
    width: 100%; height: auto;
    grid-column: 2/12;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}
#way .way-table tr {
    border-bottom: 1px solid #ccc;
}
#way .way-table tr:last-child {
    border-bottom: none;
}
#way .way-table th {
    width: 25%;
    padding: 24px;
    background: #fafafa;
    border-right: 1px solid #ccc;
    font-size: 1.2rem;
}
#way .way-table td {
    width: 75%;
    padding: 24px;
    color: #666;
}
#way .way-public-wrap {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 2rem;
}
#way .way-public {
    position: relative;
    width: 100%; height: auto;
    padding-left: 10%;
}
#way .public-type {
    position: absolute;
    left: 0; top: 0;
    font-size: 1.2rem;
    color: var(--main-text);
}
#way .public-list {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 1.5rem;
}
#way .public-destination {
    font-size: 1.2rem;
    color: var(--main-text);
}
#way .public-kinds-list {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: column;
    grid-gap: 1.2rem;
}
#way .public-kinds-item {
    position: relative;
    width: 100%; height: auto;
    display: flex; flex-direction: row;
    align-items: center;
    grid-gap: 1rem;
}
#way .bus-type {
    position: relative;
    padding: 5px;
    font-size: 0.8rem;
    color: #fff;
    line-height: 0.8;
}
#way .bus-type.g {
    background-color: #786eff;
}
#way .bus-type.j {
    background-color: #47a75f;
}
#way .bus-type.f {
    background-color: #ff7676;
}
#way .metro-number {
    position: relative;
    display: flex; flex-direction: column;
    grid-gap: 5px;
}
#way .metro-number img {
    position: relative;
    width: 1.2rem; height: 1.2rem;
}

/* 1025 ~ 1200 대응 **/
@media (max-width: 1200px) {
    #subpage .subpage-title {
        height: 350px;
    }

    /* 인사말 페이지 **/
    #ceo .ceo-image {
        grid-column: 1/13;
    }
    #ceo .ceo-image img {
        height: 90%;
    }
    #ceo .ceo-message {
        grid-column: 1/13;
    }

    /* 연혁 페이지 **/
    #history .timeline-contents-wrap {
        grid-gap: 4rem;
    }
    #history .timeline-detials-item {
        line-height: 1.4;
    }
}

/* 769 ~ 1024 대응 **/
@media (max-width: 1024px) {
    #subpage .subpage-top-nav {
        padding: 0;
    }
    #subpage .subpage-nav-list {
        grid-column: 1/13;
    }
    #ceo .ceo-image {
        height: 300px;
    }
    #ceo .ceo-image img {
        right: 2rem;
    }
    #ceo .ceo-name-wrap {
        padding-left: 2rem;
    }
    #ceo .short-message {
        font-size: 1.5rem;
    }
    #ceo .ceo-hello {
        font-size: 1.2rem;
    }
    #ceo .ceo-hello span {
        font-size: 1.5rem;
    }

    /* 연혁 **/
    #history .timeline-contents-wrap {
        grid-gap: 3rem;
    }
    #history .timeline-details {
        grid-gap: 1.2rem;
    }
    #history .timeline-detials-item {
        font-size: 1rem;
    }
}

/* 641 ~ 768 대응 **/
@media (max-width: 768px) {
    #subpage .subpage-title {
        height: 300px;
    }
    #subpage .subpage-nav-item {
        width: 120px;
    }
    #subpage .subpage-nav-item a {
        padding: 1rem 0;
    }
    #subpage .subpage-nav-item.home img {
        height: 0.8rem;
    }
    #subpage .current-category, #subpage .current-page {
        font-size: 0.8rem;
    }

    /* 연혁 **/
    #history .history-catchphrase {
        font-size: 2.5rem;
    }
    #history .timeline-item {
        grid-gap: 2rem;
    }
    #history .timeline-contents-wrap {
        grid-template-rows: repeat(2, auto);
        grid-gap: 2rem;
    }
    #history .timeline-contents-wrap::before, #history .timeline-contents-wrap::after {
        display: none;
    }
    #history .timeline-image {
        position: relative;
        top: 0;
        grid-column: 1/13;
    }
    #history .timeline-details {
        padding-left: 2rem;
        grid-column: 1/13;
    }
    #history .timeline-details::before {
        content: '';
        position: absolute;
        left: 8px; top: 0;
        width: 2px; height: 100%;
        background: #f0f0f0;
    }
    #history .timeline-details::after {
        content: '';
        position: absolute;
        left: 3px; top: 4px;
        width: 0.8rem; height: 0.8rem;
        background: var(--primary-color);
        transform: rotate(45deg);
    }
    #history .timeline-detials-item {
        padding-left: 80px;
    }
}

/* 481 ~ 640 대응 **/
@media (max-width: 640px) {
    #subpage .subpage-title {
        height: 250px;
    }
    #subpage .subpage-title-wrap {
        grid-column: 2/12;
    }
    #subpage .subpage-nav-list {
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #subpage .subpage-nav-item {
        width: 100%
    }

    #ceo .ceo-image {
        height: 250px;
    }
    #ceo .ceo-image img {
        right: 1rem;
    }
    #ceo .ceo-name-wrap {
        padding-left: 1rem;
    }
    #ceo .short-message {
        font-size: 1.2rem;
    }
    #ceo .ceo-hello {
        font-size: 1rem;
    }
    #ceo .ceo-hello span {
        font-size: 1.2rem;
    }

    /* 연혁 **/
    #history .history-catchphrase {
        font-size: 2rem;
    }
}

/* 321 ~ 480 대응 **/
@media (max-width: 480px) {
    #subpage .subpage-nav-item.home a {
        padding: 1rem 0;
    }
    #subpage .current-category, #subpage .current-page {
        padding: 1rem 0;
    }

    #ceo .ceo-image {
        height: auto;
        padding: 2rem 1rem 0 1rem;
        flex-direction: column-reverse;
        align-items: center;
        grid-gap: 2rem;
    }
    #ceo .ceo-image img {
        position: relative;
        width: 80%; height: auto;
        right: 0;
    }
    #ceo .ceo-name-wrap {
        padding-left: 0;
        grid-gap: 1rem;
    }
    #ceo .short-message {
        text-align: center;
    }
    #ceo .ceo-hello {
        text-align: center;
    }

    /* 연혁 **/
    #history .history-catchphrase {
        font-size: 1.6rem;
    }
    #history .timeline-era {
        font-size: 2.5rem;
    }
    #history .timeline-contents-wrap {
        grid-column-gap: 0.8rem;
    }
    #history .timeline-details {
        padding-left: 1.5rem;
        grid-gap: 1rem;
    }
    #history .timeline-detials-item {
        padding-left: 65px;
        font-size: 0.8rem;
    }
    #history .timeline-details::after {
        width: 0.6rem; height: 0.6rem;
    }
    #history .timeline-details::before {
        left: 7px;
    }
}

/* ~320 대응 **/
@media (max-width: 320px) {
    #subpage .subpage-title {
        height: 200px;
    }
}